<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
         <div  class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul>
                <a class="navbar-brand" [routerLink] = "['']"> <img src="assets/cpsc_logo2.png"></a>
            </ul>
            
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="assets/3_bar_menu_blue.png"
                    > </a>
                <ul class="dropdown-menu">
                    <li><a [routerLink] = "['']"></a></li>
                        <li><a href="https://www.google.com/"><img src="assets/inbox.png">
                            <span class="itds-toolbox-item">Inbox</span></a></li>
                      <li><a href="#"><img src="assets/exam_log.png">
                        <span class="itds-toolbox-item">Exam Log</span></a></li>
                      <li><a href="#"> <img src="assets/rule_engine.png">
                        <span class="itds-toolbox-item">Rule Engine</span></a></li>
                      <li><a href="#"><img src="assets/metrics.png">
                        <span class="itds-toolbox-item">Metrics</span></a></li>
                </ul>
              </li>
            </ul>
            <ul>
                
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="assets/9_point_menu_color.png"
                    ></a>
                <ul class="dropdown-menu">
                        <li><a href="#"><img src="assets/my_profile.png">
                        <span class="itds-toolbox-item">My Profile</span></a></li>
                      <li><a href="#"><img src="assets/shared_services.png">
                        <span class="itds-toolbox-item">Shared Services</span></a></li>
                      <li><a href="#"> <img src="assets/system_events.png">
                        <span class="itds-toolbox-item">System Events</span></a></li>
                      <li><a href="#"><img src="assets/system_settings.png">
                        <span class="itds-toolbox-item">System Setting</span></a></li>
                        <li><a href="#"><img src="assets/logout.png">
                            <span class="itds-toolbox-item">Logout</span></a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      