<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>ITDS/RAM 2.0</title>

<script src="./lib/jquery/2.1.4/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="./lib/jqplot/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="./lib/jqplot/jqplot.enhancedLegendRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="./lib/jqplot/jquery.jqplot.min.css" />

<link rel="stylesheet" href="./lib/jquery-ui/1.11.4/jquery-ui.min.css">
<script src="./lib/jquery-ui/1.11.4/jquery-ui.min.js"></script>



<link rel="stylesheet" href="./lib/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="./lib/bootstrap/3.3.6/js/bootstrap.min.js"></script>



<script src="./lib/d3/d3.v3.min.js"></script>
<link href="./lib/d3/nv.d3.min.css" rel="stylesheet">
<script src="./lib/d3/nv.d3.min.js"></script>



<script src="./lib/angularjs/1.4.8/angular.min.js"></script>
<script src="./lib/angularjs/1.4.8/angular-route.min.js"></script>

<link rel="stylesheet"
	  href="./lib/angular-growl/build/angular-growl.min.css">
<script src="./lib/angular-growl/build/angular-growl.min.js"></script>

<script src="./lib/angular-local-storage/angular-local-storage.min.js"></script>
<script src="./lib/bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
<link rel="stylesheet"
	  href="./lib/isteven-multi-select/isteven-multi-select.css">
<script src="./lib/isteven-multi-select/isteven-multi-select.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script> -->

<script src="./lib/ngsanitize/angular-sanitize.js"></script>

<!--https://fortawesome.github.io/Font-Awesome/-->
<link rel="stylesheet" href="./css/font-awesome.min.css">

<script src="./lib/jsonpath/jsonpath-0.8.0.js"></script>


<link rel="stylesheet" href="./css/itds.css">
<link rel="stylesheet" href="./css/inbox.css">
<link rel="stylesheet" href="./css/examlog.css">

<script src="./js/itds_app.js"></script>
<script src="./js/itds_services.js"></script>
<script src="./js/search_services.js"></script>
<script src="./js/itds.js"></script>
<script src="./js/pagination_services.js"></script>
<script src="./inbox/js/inbox_services.js"></script>
<script src="./examlog/js/examlog_services.js"></script>
<script src="./inbox/js/inbox.js"></script>
<script src="./inbox/js/inbox_comments.js"></script>
<script src="./inbox/js/inbox_analysis.js"></script>
<script src="./inbox/js/inbox_importer.js"></script>
<script src="./examlog/js/examlog.js"></script>
<script src="./examlog/js/exam_detail.js"></script>
<script src="./examlog/js/exam_contactTable.js"></script>
<script src="./examlog/js/exam_referenceTable.js"></script>
<script src="./examlog/js/exam_documentTable.js"></script>
<script src="./examlog/js/exam_sampleTable.js"></script>
<script src="./examlog/js/exam_sample.js"></script>
<script src="./examlog/js/exam_create_form.js"></script>
<script src="./js/home.js"></script>
<script src="./js/login.js"></script>
<script src="./js/ss.js"></script>
<script src="./js/settings.js"></script>
<script src="./js/notifications.js"></script>
<script src="./js/events.js"></script>
<script src="./js/xrf.js"></script>
<script src="./js/export.js"></script>
<script src="./examlog/js/exam_xrf_preview.js"></script>
<script src="./js/metrics.js"></script>
<script src="./js/user.js"></script>
<script src="./js/itds_run.js"></script>
<script src="./js/session_expiration.js"></script>
<script src="./js/spinner.js"></script>

<!-- <link rel="stylesheet" href="./css/nyroModal.css"> -->
<!-- <script src="./js/jquery.nyroModal.js"></script> -->

  <!-- sortable list testing -->
<!--   <link rel="stylesheet" href="/resources/demos/style.css"> -->

</head>
<body ng-app="itds-app" ng-controller="appController" ng-strict-di ng-click="keepAlive()">
	<img class="background" src="img/cpsc_logo2.png" ng-show="!isAuthenticated()">
	<div class="container-fluid">
		<div class="itds_app_box">
			<div>
				<nav ng-controller="itdsController" class="navbar navbar-default itds-navbar" role="navigation">
					<div class="navbar-header" style="margin-left: 30px; margin-top: 10px" >
						<div class="row" style="vertical-align: middle;">
							<span class="dropdown" ng-show="isAuthenticated()" ng-hide="isHomePage()">
							<!-- 3 bar drop down -->
								<a href=""	class="dropdown-toggle" data-toggle="dropdown"><img src="img/3_bar_menu_blue.png"
									style="margin-top: -9px; width: 20px;height:20px;vertical-align: middle;margin-right: 10px"></a>

							<!-- drop down menu items -->
								<ul class="dropdown-menu">
									<li ng-show="isAuthorized(routes['/inbox'].resolve.authorizedRoles())" id="li_inbox" class="{{ activeCss('inbox') }}">
										<a href="#/inbox" ng-click="beforeLeavingCurrentPage($event);"><img src="img/inbox.png" style="width: 32px;vertical-align: middle;">
											<span class="itds-toolbox-item">Inbox</span></a></li>

									<li id="li_examlog" ng-class="{{ activeCss('examlog') }}"><a href="#/examlog" ng-click="beforeLeavingCurrentPage($event);"><img src="img/exam_log.png" style="width: 32px; vertical-align: middle">
											<span class="itds-toolbox-item">Exam Log</span></a></li>

									<li ng-show="isAuthorized(['ROLE_MODEL_READ'])" id="li_rule_engine" class="{{ activeCss('rule_engine') }}">
									<a href="{{ui_properties.ruleEngineUiUrl}}" target="_new">
									<img src="img/rule_engine.png" style="width: 32px; height:20px; vertical-align: middle">
											<span class="itds-toolbox-item">Rule Engine</span></a></li>

									<li ng-show="isAuthorized(routes['/metrics'].resolve.authorizedRoles())" id="li_metrics">
										<a href="#/metrics" ng-click="beforeLeavingCurrentPage($event);">
										<img src="img/metrics.png" style="width: 32px;vertical-align: middle;">
											</i><span class="itds-toolbox-item">Metrics</span></a></li>

								</ul>
							</span>

							<!-- cpsc logo, product name  -->
							<a href="#/"><img src="img/cpsc_logo2.png" style="width: 44px; height: 44px; vertical-align: middle; margin-top: -15px;"></a>
								<span class="itds-agency-title">CPSC</span><span class="itds-app-title">ITDS/RAM 2.0</span>
						</div>
					</div>

					<div class="dropdown nav navbar-nav navbar-right" style="margin-left: 30px; margin-top: 10px" >
						<div class="row" style="vertical-align: middle;">
							<span class="dropdown" ng-show="isAuthenticated()" ng-hide="isHomePage()">
							<a href=""	class="dropdown-toggle" data-toggle="dropdown">
								<img src="img/9_point_menu_color-2.png" style="width: 24px; height: 24px; vertical-align: middle;"></a><label style="padding-left: 10px; padding-right: 30px; margin-top: 5px;">{{currentUser.username}}</label>
							<ul class="dropdown-menu">
								<li><a href="#/account" ng-click="beforeLeavingCurrentPage($event);"><img src="img/my_profile.png" style="width: 32px;vertical-align: middle;"><span class="itds-toolbox-item">My Profile</span></a></li>
								<li ng-show="isAuthorized(routes['/users'].resolve.authorizedRoles())"><a href="#/users" ng-click="beforeLeavingCurrentPage($event);"><img src="img/user_admin.png" style="width: 32px;vertical-align: middle;"><span class="itds-toolbox-item">User Administration</span></a></li>
                                <li><a href="#/ss" ng-click="beforeLeavingCurrentPage($event);"><i class="fa fa-share-alt fa-2x"></i><span class="itds-toolbox-item">Shared Services</span></a></li>
								<li ng-show="isAuthorized(routes['/xrf'].resolve.authorizedRoles())"><a href="#/xrf" ng-click="beforeLeavingCurrentPage($event);"><i class="fa fa-upload fa-2x"></i><span class="itds-toolbox-item">XRF Uploader</span></a></li>
								<li><a href="#/events"><img src="img/system_events.png" style="width: 32px;vertical-align: middle;"><span class="itds-toolbox-item">System Events</span></a></li>
								<li><a href="#/settings"><img src="img/system_settings.png" style="width: 32px;vertical-align: middle;"><span class="itds-toolbox-item">System Settings</span></a></li>
								<li ng-show="isAuthorized(['ROLE_SYS_PROP_SAVE'])"><a href="#/notifications"><img src="img/system_settings.png" style="width: 32px;vertical-align: middle;"><span class="itds-toolbox-item">Notification Message</span></a></li>
								<li><a href="./logout" xxxng-click="logout()"><img src="img/logout.png" style="width: 32px;vertical-align: middle;"><span class="itds-toolbox-item">Logout</span></a></li>
                            </ul>
							</span>
							<span>&nbsp;</span>
						</div>
					</div>
				</nav>
			</div>

			<div ng-view></div>
			<div growl></div>
			<div id="spinnerDiv" style="display:none"><img src="img/spinner.gif" class="ajax-loader"/></div>
		</div>

	</div>


<script>
  $("#spinnerDiv").click(function() {
	  this.style.display='none';
  });
  
</script>



</body>
</html>
