.dashboard-card {
  padding: 8px 16px 0px;
}

:host {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.mat-radio-button {
  padding-right: 10px;
}

.search-filter-input {
  margin-left: 24px;
}
