.dashboard-card {
  padding: 5px;
}

.drop {
  //height: 400px;
  border-radius: 5px;
  border: grey thick dashed;
  margin: 16px;
}

.upload-txt {
  margin-right: 10px;
  font-size: 24px;
}

.upload-btn {
  font-size: 24px;
  margin-bottom: 10px;
}
