<!-- Details Tab Start -->
<div class="row">
	<div class="col-md-6 panel panel-default">
		<!--  begin entry details -->
		<div class="panel-heading">
			<header>
				<h4 ng-click="toggle.details.close = !toggle.details.close" class="panel-title" style="display: inline-block;">
					<small ng-class="{'glyphicon glyphicon-plus': toggle.details.close, 'glyphicon glyphicon-minus': !toggle.details.close}"></small>
					Exam Details</h4>
			</header>
		</div>
		<div class="panel-body" ng-hide="toggle.details.close">
			<div class="row">
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Entry Date:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].entryDate}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Entry:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].entryNumber}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Value:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].entryValue}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Lines:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].numberOfLines}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">BOL:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].bol}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Estimated Arrival:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].arrivalDateEstimate}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Actual Arrival:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].arrivalDateActual}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Location of Goods:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].locationOfGoods}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Carrier:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].carrierName}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">MOT:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].mot}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Vessel:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].vessel}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Foreign Port:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].foreignPortName}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Port Name:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].portName}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">Unlading Port:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].unladingPortName}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">FTZ:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].ftz}}</div>
				</div>
				<div>
					<div class="col-md-5 inbox-summary-col" align="right">OGC Status:</div>
					<div class="col-md-7 inbox-summary-col" align="left">{{summary[0].ogc}}</div>
				</div>
			</div>
		</div>
		<!-- end entry details -->
	</div>

	<div class="col-md-6">
		<!--  begin importer details -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<header>
					<h4 ng-click="toggle.importer.close = !toggle.importer.close" class="panel-title" style="display: inline-block;">
						<small ng-class="{'glyphicon glyphicon-plus': toggle.importer.close, 'glyphicon glyphicon-minus': !toggle.importer.close}"></small>
						Importer Details</h4>
				</header>
			</div>
			<div class="panel-body" ng-hide="toggle.importer.close">
				<div class="row">
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Importer Number:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].importerNumber}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Importer Name:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].importerName}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Importer Address:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].importerAddressLine1}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">&nbsp;</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].importerAddressLine2}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">City:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].importerCity}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">State:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].importerStateCode}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Zip:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].importerZipCode}}&nbsp;</div>
					</div>
				</div>
			</div>
		</div>	
		<!--  end importer details -->

		<!--  begin filer details -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<header>
					<h4 ng-click="toggle.filer.close = !toggle.filer.close" class="panel-title" style="display: inline-block;">
						<small ng-class="{'glyphicon glyphicon-plus': toggle.filer.close, 'glyphicon glyphicon-minus': !toggle.filer.close}"></small>
						Filer Details</h4>
				</header>
			</div>
			<div class="panel-body" ng-hide="toggle.filer.close">
				<div class="row">
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Filer POC:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].filerPointOfContact}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Filer POC Phone:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].filerPhoneOfContact}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Filer Name:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].filerName}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Filer Address:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].filerAddressLine1}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">&nbsp;</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].filerAddressLine2}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">City:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].filerCity}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">State:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].filerStateCode}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Zip:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].filerZipCode}}&nbsp;</div>
					</div>
				</div>
			</div>
		</div>	
		<!--  end filer details -->

		<!--  begin consignee details -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<header>
					<h4 ng-click="toggle.consignee.close = !toggle.consignee.close" class="panel-title" style="display: inline-block;">
						<small ng-class="{'glyphicon glyphicon-plus': toggle.consignee.close, 'glyphicon glyphicon-minus': !toggle.consignee.close}"></small>
						Consignee Details</h4>
				</header>
			</div>
			<div class="panel-body" ng-hide="toggle.consignee.close">
				<div class="row">
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Consignee EIN:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].ein}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Consignee Name:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].consigneeName}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Consignee Number:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].consigneeNumber}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Consignee Address:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].consigneeAddressLine1}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">&nbsp;</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].consigneeAddressLine2}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">City:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].consigneeCity}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">State:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].consigneeStateCode}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Zip:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].consigneeZipCode}}&nbsp;</div>
					</div>
				</div>
			</div>
		</div>	
		<!--  end consignee details -->

		<!--  begin manufacturer details -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<header>
					<h4 ng-click="toggle.manufacturer.close = !toggle.manufacturer.close" class="panel-title" style="display: inline-block;">
						<small ng-class="{'glyphicon glyphicon-plus': toggle.manufacturer.close, 'glyphicon glyphicon-minus': !toggle.manufacturer.close}"></small>
						Manufacturer Details</h4>
				</header>
			</div>
			<div class="panel-body" ng-hide="toggle.manufacturer.close">
				<div class="row">
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Manufacturer MID:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].mid}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Manufacturer Name:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].manufacturerName}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Manufacturer Address:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].manufacturerAddress}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">City:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].manufacturerCity}}&nbsp;</div>
					</div>
					<div>
						<div class="col-md-1">&nbsp;</div>
						<div class="col-md-3 inbox-summary-col" align="right">Country:</div>
						<div class="col-md-8 inbox-summary-col" align="left">{{parties[0].manufacturerCountry}}&nbsp;</div>
					</div>
				</div>
			</div>
		</div>	
		<!--  end manufacturer details -->
	</div>
</div>

