<!-- Details Tab Start -->
<div class="col-md-12 panel">
	<div class="row panel-body">
		<div class="col-lg-5 col-md-5 col-sm-12">
			<ul class="row" >
			<li nowrap style="list-style: none; font-size: 20px;"><b>Workflow History</b></li>
			<li nowrap style="list-style: none; padding-left: 18px; padding-top: 5px; padding-bottom: 5px;" >
				<input id="wkflHist-undo-btn" type="button" value="Revert Status" class="btn btn-primary"
						ng-hide="(entrylineHistory.length < 1) || isEntryCancelled(entryLine)" ng-click="detail.revertWorkflowStatus();"/> 
			</li>
			<li nowrap style="list-style: none;" ng-repeat="item in entrylineHistory" >
					<span style="font-size: 12px; padding-bottom: 3px;"><b>{{ item.dataLastUpdateTimestamp }}&nbsp;</b></span>&nbsp;
					<span style="font-size: 14px;">{{ item.workflowStatus }}
					&nbsp;&nbsp;(set by&nbsp;<span style="font-size: 12px;">{{ item.lastUpdateUserLastName }},&nbsp;{{ item.lastUpdateUserFirstName }}&nbsp;)</span>
			</li>
			</ul>
		</div>
		<div class="col-lg-7 col-md-7 col-sm-12">
<!-- 		<div class="panel-body"> -->
			<img alt="Work Flow Diagram" ng-src="./img/workflow/{{detail.workflowUrl}}" style="width: 100%" />
		</div>
	</div>
</div>

