<!-- Inbox Comments Tab Start -->

<div class="row" ng-controller="inboxCommentsController">
	<div class="col-md-12 panel">
		<div class="panel-body">

		<div ng-show="commentList === undefined || commentList.length ==0">
			<h4>Comment List</h4>
			<span style="padding-left: 20px">No comments</span>
		</div>
		
		<div ng-hide="commentList === undefined || commentList.length ==0">
			<table ng-hide="commentList === undefined || commentList.length ==0"
				class="itds-table-4 table table-bordered table-hover table-responsive"
				style="width: 100%;">
				<thead>
					<h4>Comment List ({{commentList.length}})</h4>
				</thead>
				<tbody>
					<tr ng-repeat="c in commentList">
						<td>{{c.createTimestamp}} {{c.createUserId}}: <pre style="word-break: break-word; white-space: pre-wrap;">{{c.note}}</pre></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div>
			<div>
				<h4>New Comment</h4>
				<div ng-show="newComment.commentErrors">
					<div class="exam_save_errors">
						<h5  class="error">{{newComment.commentErrors.message}}</h5>
						<ol>
							<li ng-repeat="err in newComment.commentErrors"><b>{{err.group}} -> <span ng-show="err.index != undefined"> record #{{err.index}} -> </span> {{err.field}}:</b> {{err.message}}
						</ol>
					</div>
				</div>
				
				<textarea ng-model="newComment.note" rows="5" style="width:100%" maxlength="2048"></textarea>
			</div>
			<div>
				{{charRemaining(newComment.note, 2048)}} characters remaining.
			</div>
			<div>
				<button type="button" class="btn btn-primary"
					ng-click="saveComment(detail.selectedEntryLine, newComment);">Save</button>
			</div>

		</div>
			
		</div>
	</div>
</div>	