<div ng-controller="inboxController" id="inboxControllerDiv">
<div class="row">

	<div class="col-md-6">
		<h4>Inbox Entry Lines
			<div ng-show="counters.redCount>=0" class="counter" data-toggle="tooltip">
				<span class="red" title="Entry color category red">
					<a class="counter-liner" href="" ng-click="search.searchby(search.systemDefinedSearch[3],'system');">{{counters.redCount}}</a>
				</span>
			</div>
				<span style="padding:3px"></span>
			<div ng-show="counters.newSinceLastLogout>=0" class="counter" data-toggle="tooltip">
				<span class="black" title="New since last logout">
					<a id="newlastlogoutanchor" class="counter-liner" href="" ng-click="search.searchby(search.systemDefinedSearch[4],'system');">{{counters.newSinceLastLogout}}</a>
				</span>
			</div>		
		</h4>
	</div>
	<div class="col-md-6" style="text-align: right">
				
<!-- 				<button type="button" class="btn btn-info" title="Show last 100 uaser actions"   -->
<!--  							ng-click="recentUserAct()">Recent User Actions</button>&nbsp;&nbsp;  -->
	
				<a href=""><img src="./img/recent_user_actions.png" title="Show last 100 user actions" 
				   style="margin-top: 0px; width: 20px;height:20px;vertical-align: middle;" 
				   ng-click="recentUserAct()"></a>
				<span style="margin-right: 10px"/>
				   
				<span style="font-size: small;" ng-show="exportInProgressIndicator">Export now in progress..</span>
				<a href=""><img src="./img/export_csv.png" title="Export results as CSV" 
				   style="margin-top: 0px; width: 20px;height:20px;vertical-align: middle;margin-right: 10px" 
				   ng-hide="!entryLines || entryLines.length<=0"
				   ng-click="exportCSV()"></a>
<!-- 			<button type="button" class="btn btn-info" title="Export results as CSV"  -->
<!-- 							ng-disabled="!entryLines || entryLines.length<=0 || exportInProgressIndicator"  -->
<!-- 							ng-click="exportCSV()">CSV</button>&nbsp;&nbsp; -->
			<span data-toggle="tooltip" title="Search">
				<a href=""><img src="./img/search_menu.png"
				   style="margin-top: 0px; width: 20px;height:20px;vertical-align: middle;margin-right: 10px"
				   ng-click="search.toggle()"></a>
			</span> 

			<span ng-show="search.state" class="selected-marker" style="right: 25px;"></span>
	</div>	
</div>


<div class="row  panel" ng-show="search.state" style="z-index:1000; position: absolute; right: 30px;" ng-include="'./inbox/inbox_search.html'"></div>

<!-- <div class="row  panel" ng-show="filter.state" style="z-index:1000; position: absolute; right: 30px;" ng-include="'./inbox/inbox_filter.html'"></div> -->


<div class="row">
	<div class="col-md-3">
	  <div>&nbsp;</div>
	  <div ng-show="checkboxCount" >
		<!-- <label for="filterBox" style="padding-right: 10px">Find in page: </label><input id="filterBox" ng-model="filterValue" type="search" placeholder="Enter filter" style="width: 160px">  -->
		<label class="bg-info" style="padding-right: 10px">{{checkboxCount}} records selected</label>
		<div style="display: inline-block;" class="dropdown">
			<a href=""	class="dropdown-toggle" data-toggle="dropdown" ng-click="setupBatchActions();"><img src="./img/status_menu.png"
				style="margin-top: 0px; width: 20px;height:20px;vertical-align: middle;margin-right: 0px"></a>
			<ul class="dropdown-menu">
				<li ng-repeat="action in workflowActions" ng-class="{'divider': action.divider, 'dropdown-header':action.header}">
				    <span ng-show="action.header">{{action.header}}</span>
					<a href="" ng-hide="action.header || action.divider || action.message"
					   ng-click="processBatchWorkflowStatus(action);"
					><span class="itds-toolbox-item">{{action}}</span></a>
				</li>

				<li ng-repeat="action in nationalOps track by $index" ng-class="{'divider': action.divider, 'dropdown-header':action.header}">
				    <span ng-show="action.header">{{action.header}}</span>
					<a href="" ng-hide="action.header || action.divider" 
					   ng-click="processBatchNationalOp(action.item);"><span class="itds-toolbox-item">{{action.item.name}}</span></a>
				</li>

			</ul>
		</div> 
	  </div>
	</div>

	<div class="col-md-9">
	</div>	
</div>

<div class="row">
	<div class="col-md-12">
		<div class="pull-left" >
			<span ng-show="page.totalResults>0">Displaying {{page.startIndex}} - {{page.endIndex}} of {{page.totalResults}} results for:</span> 
			<span ng-hide="page.totalResults>0">No results found for:</span> 
			<span  style='display:inline-block; padding: 3px; margin-bottom: 3px;color: #222D63; font-weight:bold'>{{search.name}}</span>
			<span ng-show="search.sdIsEdited"><a href=""><img src="./img/save_search.png"
				   style="margin-top: 0px; width: 24px;height:24px;vertical-align: middle;margin-right: 10px; margin-left:-10px; margin-bottom:5px;"
				   ng-click="search.saveSearch()"/></a></span>
		</div>
		<div class="pull-right paging" ng-show="page.totalPages >1">
	  		<form name="myForm" novalidate >
				<ul>
					<li data-toggle="tooltip" title="First" ng-click="page.gotoFirst();"><a href="" style="text-decoration: none;"><span>&lt;&lt;</span></a></li>
					<li data-toggle="tooltip" title="Previous" ng-click="page.gotoPrev();"><a href="" style="text-decoration: none;"><span>&lt;</span></a></li>
					<li>
						<div class="error"  ng-show="!myForm.currentPage.$valid">valid page number: 1 - {{page.totalPages}}</div>
						<span class="paging-input" ng-mouseenter="page.mouseEnter();" ng-mouseleave="page.mouseLeave();">
							Page 
							<input ng-show = "isChrome && page.showInput" id="currentPage" name="currentPage" 
								type="number" min="1" max="{{page.totalPages}}"
								ng-class="{'error': !myForm.currentPage.$valid, '':myForm.currentPage.$valid}" 
								ng-model="page.currentPage" 
								ng-change="page.gotoPage();"
								ng-model-options="{ debounce: 500 }">
							<input ng-show = "!isChrome && page.showInput" id="currentPage" name="currentPage" 
								type="text" 
								ng-model="page.currentPage" 
								ng-change="page.gotoPage();"
								>
							<strong ng-hide = "page.showInput">{{page.currentPage}}</strong>
							of {{page.totalPages}}</span></li>
					<li data-toggle="tooltip" title="Next" ng-click="page.gotoNext();"><a href="" style="text-decoration: none;"><span>&gt;</span></a></li>
					<li data-toggle="tooltip" title="Last" ng-click="page.gotoLast();"><a href="" style="text-decoration: none;"><span>&gt;&gt;</span></a></li>
				</ul>
			</form>
		</div>
	</div>
</div>

<div class="row" id="summaryTableRow">
<div class="col-md-12">
	<table id="summaryTable"
		class="itds-table-4 table table-bordered table-hover table-responsive" 
		style="width:100%;" >
		<!-- class="table-stripe table-bordered table-hover table-responsive" -->
		 <thead>
		<tr>
			<th style="text-align: center;" 
				ng-click="toggleCheckedAll(entryLines)">
				<div><label for="entryLine_select_all">All</label></div>
				<input id="entryLine_select_all" type="checkbox" ng-model="entryLines.isChecked"/><span class="custom_toggle_button"></span>
			</th>
			
			
			<th ng-click="sort('entryNumber');">Entry/Line
				<span class="glyphicon sort-icon" ng-show="sortKey=='entryNumber'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='entryNumber'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div></th>
			<th ng-click="sort('htsNumber'); "><div >HTS
				<span class="glyphicon sort-icon" ng-show="sortKey=='htsNumber'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='htsNumber'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div>
			</th>
			<th ng-click="sort('importerName');">Importer
				<span class="glyphicon sort-icon" ng-show="sortKey=='importerName'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='importerName'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div></th>
			<th ng-click="sort('manufacturerName');">Manufacturer
				<span class="glyphicon sort-icon" ng-show="sortKey=='manufacturerName'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='manufacturerName'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div></th>
			<!-- >th>Filer</th -->
			<th ng-click="sort('portCode');">Port
				<span class="glyphicon sort-icon" ng-show="sortKey=='portCode'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='portCode'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div></th>
			<th ng-click="sort('arrivalDate');">Arrival
				<span class="glyphicon sort-icon" ng-show="sortKey=='arrivalDate'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='arrivalDate'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div></th>
			<th ng-click="sort('releaseDate');">Release
				<span class="glyphicon sort-icon" ng-show="sortKey=='releaseDate'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='releaseDate'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div></th>
			<th ng-click="sort('ramScore'); ">Score
			<span class="glyphicon sort-icon" ng-show="sortKey=='ramScore'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='ramScore'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></sp>
			</th>
			<th ng-click="sort('nationalOp');">Op
				<span class="glyphicon sort-icon" ng-show="sortKey=='nationalOp'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='nationalOp'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div></th>
			<th ng-click="sort('workflowStatus'); ">Status
			<span class="glyphicon sort-icon" ng-show="sortKey=='workflowStatus'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='workflowStatus'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
			</th>
			<th ng-click="sort('hasExam');">Exam
				<span class="glyphicon sort-icon" ng-show="sortKey=='hasExam'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='hasExam'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div></th>
			<th ng-click="sort('investigatorLastName');">Investigator
				<span class="glyphicon sort-icon" ng-show="sortKey=='investigatorLastName'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='investigatorLastName'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div></th>
			<th ng-click="sort('ogcReferral');">OGC
				<span class="glyphicon sort-icon" ng-show="sortKey=='ogcReferral'" 
					ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
				<span ng-hide="sortKey=='ogcReferral'" class="glyphicon sort-icon"  ng-class="{'glyphicon-resize-vertical':true}"></span>
				</div></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-if="((exam && detail.selectedExam) || (entryLine && detail.selectedEntryLine) && detail.selectedIndex>0)">
			<td colspan="15" >
				<a href="" ng-show="detail.isHideAboveRows" ng-click="detail.hideAboveRows(false)">{{detail.selectedIndex}} record(s) hidden</a>
				<a href="" ng-show="!detail.isHideAboveRows" ng-click="detail.hideAboveRows(true)">Hide {{detail.selectedIndex}} record(s) below</a>
			</td>
		</tr>
		<tr ng-repeat-start="entryLine in entryLines.slice(page.startIndex-1-page.bufferStartIndex, page.endIndex-page.bufferStartIndex) "
			ng-hide="detail.isRowHidden(entryLine, $index)">
			<td style="text-align: center" ng-click="toggleChecked(entryLines,entryLine)">				
					<input id="entryLine_{{$id}}" type="checkbox" ng-model="entryLine.isChecked"/><span class="custom_toggle_button"></span>
			</td>
			<td><a ng-attr-id="td_{{entryLine.entryNumber}}_{{entryLine.entryLineNumber}}" href="" ng-click="detail.selectEntryLine(entryLine, $index);">{{entryLine.entryNumber}}/{{formatEntryLineNumber(entryLine.entryLineNumber)}}</a></td>
			<td><a ng-attr-id="td_{{entryLine.entryNumber}}_{{entryLine.entryLineNumber}}_hts" href="" ng-click="displayHtsInfo(entryLine);" 
						uib-tooltip-html="currentHtmlTooltip" tooltip-class="inbox_tooltip" tooltip-trigger="outsideClick">
					{{entryLine.htsNumber}}
			</a></td>
			<td><a ng-attr-id="td_{{entryLine.entryNumber}}_{{entryLine.entryLineNumber}}_importer" href="" ng-click="displayImporterInfo(entryLine);" 
						uib-tooltip-html="currentHtmlTooltip" tooltip-class="inbox_tooltip" tooltip-trigger="outsideClick">
						{{entryLine.importerName}}
			</a></td>
			<td><a ng-attr-id="td_{{entryLine.entryNumber}}_{{entryLine.entryLineNumber}}_manufacturer" href="" ng-click="displayManufacturerInfo(entryLine);"
						uib-tooltip-html="currentHtmlTooltip" tooltip-class="inbox_tooltip" tooltip-trigger="outsideClick">
					{{entryLine.manufacturerName}}
			</a></td>
			<!-- 
 			<td><a ng-attr-id="td_{{entryLine.entryNumber}}_{{entryLine.entryLineNumber}}_filer" href="" ng-click="displayFilerInfo(entryLine);" 
								uib-tooltip-html="currentHtmlTooltip" tooltip-class="inbox_tooltip" tooltip-trigger="outsideClick">
						{{entryLine.filerName}}
			</a></td>
			--> 
			<td><a ng-attr-id="td_{{entryLine.entryNumber}}_{{entryLine.entryLineNumber}}_port" href="" ng-click="displayPortInfo(entryLine);"
					 uib-tooltip-html="currentHtmlTooltip" tooltip-class="inbox_tooltip" tooltip-trigger="outsideClick">
					 {{entryLine.portCode}}
			</a></td>
			<td>{{entryLine.arrivalDate}}</td>
			<td>{{entryLine.releaseDate}}</td>
			<td><div class="scorebox" ng-class="{red: entryLine.ramColor.toUpperCase() === 'RED', orange: entryLine.ramColor.toUpperCase() === 'ORANGE', yellow: entryLine.ramColor.toUpperCase() === 'YELLOW', blue: entryLine.ramColor.toUpperCase() === 'BLUE', green: entryLine.ramColor.toUpperCase() === 'GREEN'}">{{entryLine.ramScore}}</div></td>
			
			
			<td style="text-align: left">
			
				<a href="" style="margin-right:21px;">
					<img ng-show="entryLine.nationalOp" ng-src="{{nationalOpIconFileName(entryLine.nationalOp)}}" 
						height="22px" width="22px" ng-click="displayNationalOpInfo(entryLine);"
					  uib-tooltip-html="currentHtmlTooltip" tooltip-class="inbox_tooltip" tooltip-trigger="outsideClick">
				</a>
				
				<div style="display: inline-block; float:right; right: 2px;" class="dropdown" ng-hide="isEntryCancelled(entryLine)">
					<a href=""	class="dropdown-toggle" data-toggle="dropdown" ng-click="setupNationalOps(entryLine);"><img src="./img/status_menu.png"
						style="margin-top: 0px; width: 18px; height:20px; vertical-align: middle; margin-right: 0px; margin-left: -18px;"></a>
					<ul class="dropdown-menu">
						<li ng-repeat="action in nationalOps track by $index" ng-class="{'divider': action.divider, 'dropdown-header':action.header}">
						    <span ng-show="action.header">{{action.header}}</span>
							<a href="" ng-hide="action.header || action.divider" 
							   ng-click="processNationalOp(entryLine, action.item);"><span class="itds-toolbox-item">{{action.item.name}}</span></a>
						</li>
					</ul>
				</div>
			
			</td>
			
			<td style="text-align: left;">
				<span ng-show="isEntryCancelled(entryLine)">{{entryLine.workflowStatus}}</span>
				<a href="" style="margin-right:21px;" ng-click="displayWorkflowStatus(entryLine)"  ng-hide="isEntryCancelled(entryLine)">
					{{entryLine.workflowStatus}}
				</a>
				<div style="display: inline-block; float:right; right: 2px;" class="dropdown" ng-hide="isEntryCancelled(entryLine)">
					<a href=""	class="dropdown-toggle" data-toggle="dropdown" ng-click="setupWorkflowStatus(entryLine.workflowStatus, entryLine.hasExam);"><img src="./img/status_menu.png"
						style="margin-top: 0px; width: 18px; height:20px; vertical-align: middle; margin-right: 0px; margin-left: -18px;"></a>
					<ul class="dropdown-menu">
						<li ng-repeat="action in workflowActions" ng-class="{'divider': action.divider, 'dropdown-header':action.header}">
						    <span ng-show="action.header">{{action.header}}</span>
							<a href="" ng-hide="action.header || action.divider" 
							   ng-click="processWorkflowStatus(entryLine, action);"><span class="itds-toolbox-item">{{action}}</span></a>
						</li>
					</ul>
				</div>
			</td>
			
			<td style="text-align: center;">
				<a href="" ng-click="detail.selectExam(entryLine,$index);" ng-show="entryLine.hasExam"><img src="img/status_examined.png" style="width: 20px; vertical-align: middle"></a>
				<a href="" ng-click="detail.createExam(entryLine,$index);" ng-hide="entryLine.hasExam || isEntryCancelled(entryLine)">Create</a>
			
			</td>
			
			<td>
				<span ng-show="isEntryCancelled(entryLine) && entryLine.investigatorUsername && !investigatorAction.isThisEntryLine(entryLine)">&nbsp;{{entryLine.investigatorLastName}},&nbsp;{{entryLine.investigatorFirstName}}</span>
				<a ng-attr-id="td_{{entryLine.entryNumber}}_{{entryLine.entryLineNumber}}_investigator" href="" ng-click="investigatorAction.edit(entryLine);" 
					ng-show="!isEntryCancelled(entryLine) && entryLine.investigatorUsername && !investigatorAction.isThisEntryLine(entryLine)">&nbsp;{{entryLine.investigatorLastName}},&nbsp;{{entryLine.investigatorFirstName}}</a>
				<button ng-attr-id="td_{{entryLine.entryNumber}}_{{entryLine.entryLineNumber}}_investigator" href="" ng-click="investigatorAction.edit(entryLine);" 
					ng-show="!entryLine.investigatorUsername && !investigatorAction.isThisEntryLine(entryLine)  && !isEntryCancelled(entryLine)">Assign</button>




			<ng-form id="edit_exam_detail" name="exam_edit_form" class="form-horizontal css-form" role="form" ng-show="investigatorAction.isEdit && investigatorAction.isThisEntryLine(entryLine)">
				<div class="form-group">
					
					<div class="col-xs-6">
						 	<select class="form-control" name="investigatorSelect" id="investigatorSelect" ng-model="entryLine.investigatorUsername">
						      <option ng-repeat="option in investigators" value="{{option.username}}">{{option.formattedName}} ({{option.username}})</option>
						    </select>	  
					</div>
				</div>
					<div>
						<button type="button" class="btn btn-primary"  ng-click="investigatorAction.assign();">Assign</button>
						<button type="button" class="btn btn-primary"  ng-click="investigatorAction.unAssign();">Unassign</button>
						<button type="button" class="btn btn-default" ng-click="investigatorAction.cancel();">Cancel</button>
					</div>
			</ng-form>
			
			
							 
				<span ng-click="save(entryLine);" ng-show="investigatorActions.isEdit">Assign</span>
			</td>
			
			
			<td align="center">
				<a ng-attr-id="td_{{entryLine.entryNumber}}_{{entryLine.entryLineNumber}}_ogc" href="" ng-click="displayOgc(entryLine);" ng-show="entryLine.ogcReferral" >&#10003;</a>
			</td>
		</tr>

		<tr ng-repeat-end ng-if="detail.isDetailRow(entryLine, $index)">
			<td colspan="15">
				<div ng-if="detail.expandColumn === 'ENTRY_LINE'" ng-include="'./inbox/entry.html'"></div>
				<div ng-if="detail.expandColumn === 'EXAM'" ng-include="'./examlog/exam.html'" ></div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</div>
