<!-- Inbox search layer -->
<!-- <div class="col-md-12"> -->
<!-- 	<div class="col-md-3">&nbsp;</div> -->
<form id="inbox-search-form">
<div id="inbox-search-div" name="inbox-search-div" class="col-md-12"
    style="text-align: right; padding:0px; margin-left:-28px;
           margin-bottom:-30px; margin-right:inherit;">
  <ul id="inbox-search-ul" name="inbox-search-ul" class="row inbox-search ul-with-top-arrow" 
      style="display:inline-block; list-style-type: none; text-align: left; min-width:575px;
             max-width:1000px; border-radius:10px; box-shadow:10px 10px 5px #888888;">
           
    <span id="search-box-span-system" name="search-box-span-system" class="inbox-search col-md-6" 
        style="margin-left:inherit;">

      <label id="search-box-span-system-label" name="search-box-span-system-label"
          class="inbox-search-label">
      System Defined Search:
      </label>

      <li id="search-box-span-system-li" name="search-box-span-system-li"
          class="{{ activeCss('examlogxxx') }}" ng-repeat="item in search.systemDefinedSearch">

        <a id="search-box-span-system-li-a" name="search-box-span-system-li-a"
            class="inbox-search-search" href="" ng-click="search.searchby(item,'system');">

          <span id="search-box-span-system-li-a-span" name="search-box-span-system-li-a-span"
              class="itds-toolbox-item">
          {{item.desc}}
          </span>

        </a>
      </li>
    </span>

    <span id="search-box-span-user-def" name="search-box-span-user-def"
        class="inbox-search col-md-6">

      <label id="search-box-span-user-def-label" name="search-box-span-user-def-label"
          class="inbox-search-label">
      User Defined Search:
      </label>

       <select id="search-user-select-search" name="search-user-select-search"
            ng-options="option.searchName for option in search.userDefinedSearch track by option.searchId"
            ng-model="search.selectedUserSearch" ng-change="search.selectUserSearch(search.selectedUserSearch);">
        </select>

	<div style="margin-top:10px">
      <label class="inbox-search-label">
      	Port Group Search:
      </label>

       <select id="search-user-select-search" name="search-user-select-search"
            ng-options="option.searchName for option in search.portgroupSearch track by option.searchId"
            ng-model="search.selectedUserSearch" ng-change="search.selectUserSearch(search.selectedUserSearch);">
        </select>
	
	</div>
    </span>

    <span id="search-box-span-hr" name="search-box-span-hr">
      <li id="search-box-span-hr-li" name="search-box-span-hr-li"
          style="height:5px; margin-top:-5px;margin-bottom:-5px;">
        <hr id="search-box-span-hr-li-hr" name="search-box-span-hr-li-hr"
            class="col-md-11" align="left"
            style="height:10px; margin-top:-5px;margin-bottom:-5px;"/>
      </li>
    </span>

    <span id="search-box-quick-span" name="search-box-quick-span"
        class="col-md-12 animate-show" ng-hide="search.advSearchDisplayOn"
        style="margin-left:inherit;">

      <label id="search-box-quick-span-label" name="search-box-quick-span-label"
          class="inbox-searach-label">
      Quick Search:
      </label>
      
      <li id="search-box-quick-span-li" name="search-box-quick-span-li"  style="white-space: nowrap;"
          ng-switch on="search.selectedOption.id">

        <label id="search-box-quick-span-li-label" name="search-box-quick-span-li-label"
            class="inbox-search-label" for="searchBox" style="padding-right: 10px">
        Search:
        </label>

        <select id="search-box-quick-span-li-select-field" name="search-box-quick-span-li-select-field"
            ng-options="option.name for option in search.inboxQuickSearchMenuOptions track by option.id"
            ng-model="search.selectedOption">
        </select>

<!--             ng-hide="search.selectedOption.type!='DATE' || search.selectedOption.type!='FLOAT'" -->
        <input id="search-box-quick-span-li-input-value-text" name="search-box-quick-span-li-input-value-text"
            type="text" required placeholder="{{search.selectedOption.name}}" ng-model="search.searchValue"
            ng-hide="search.selectedOption.type=='DATE' || search.selectedOption.type=='FLOAT' || search.selectedOption.type=='FLOAT_RAM_SCORE'"
            style="width: 200px;"
        />

        <input id="search-box-quick-span-li-input-value-float" name="search-box-quick-span-li-input-value-float"
            type="text" required placeholder="{{search.selectedOption.name}}" ng-model="search.searchValue"
            ng-show="search.selectedOption.type=='FLOAT' || search.selectedOption.type=='FLOAT_RAM_SCORE'" ng-pattern="^/[0-9]+[\.][0-9]*/"
            style="width: 200px;"
        />

        <input id="search-box-quick-span-li-input-value-date" name="search-box-quick-span-li-input-value-date"
            type="text" required placeholder="mm/dd/yyyy" ng-model="search.searchValue"
            ng-show="search.selectedOption.type=='DATE'"
            style="width: 200px;"
        />

        <input id="search-box-quick-span-li-input-button-go" name="search-box-quick-span-li-input-button-go"
            type="button" value="Go" ng-click="search.doSearch();"
            class="btn btn-primary"
        />

      </li>

      <li id="search-box-quick-span-hr-li" name="search-box-quick-span-hr-li"
          style="height:5px; margin-top:-5px;margin-bottom:-5px;">
        <hr id="search-box-quick-span-hr-li-hr" name="search-box-quick-span-hr-li-hr"
            class="col-md-11" align="left" style="height:10px; margin-top:10px;margin-bottom:-5px;"/>
      </li>

      <li id="search-box-quick-span-switch-li" name="search-box-quick-span-switch-li">
        <span style="text-align: left;">
          <input id="search-box-quick-span-switch-li-button-use-adv" name="search-box-quick-span-switch-li-button-use-adv"
            type="button" value="Use Advanced Search" class="btn btn-primary"
            ng-click="search.displayAdvSearchForm('Inbox', 'entryline');"
            style=""/>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<span style="text-align: right;">
          <input id="search-box-close-btn" name="search-box-close-btn"
            type="button" value="Close" class="btn btn-primary"
            ng-click="search.close();" />
<!--         </a> -->
        </span>
      </li>

    </span>

    <span id="search-box-adv-span" name="search-box-adv-span"
        class="col-md-12 animate-show" ng-show="search.advSearchDisplayOn"
        style="margin-left:inherit;">

      <label id="search-box-adv-span-label" name="search-box-adv-span-label"
          class="inbox-search-label">
      Advanced Search:
      </label>

      	<span style="text-align: right;" ng-show="search.searchForItemList.length>0">
          <input id="search-box-close-btn" name="search-box-close-btn" ng-show="search.selectedUserSearch.searchId && search.selectedUserSearch.searchAvailability == 'PRIVATE'"
            type="button" value="Save" class="btn btn-primary"
            ng-click="search.save();" />
          <input id="search-box-close-btn" name="search-box-close-btn" ng-show="search.selectedUserSearch.searchId && search.selectedUserSearch.searchAvailability == 'PRIVATE'"
            type="button" value="Delete" class="btn btn-primary"
            ng-really-message='Are you sure to delete saved search "{{search.selectedUserSearch.searchName}}"?' ng-really-click="search.delete();" />
          <input id="search-box-close-btn" name="search-box-close-btn"
            type="button" value="Save As New:" class="btn btn-primary"
            ng-click="search.saveAs();" />
           <input type="text" ng-model="search.new_search_name" maxlength="255" />
        </span>

      <ul id="search-box-adv-span-display-ul" name="search-box-adv-span-display-ul">

        <li id="search-box-adv-span-display-ul-li" name="search-box-adv-span-display-ul-li"
            ng-repeat="item in search.searchForItemList"
            style="display:inline; list-style-type: none;">
        {{item.fieldDisp}}&nbsp;{{item.opDisp}}&nbsp;{{item.valueDisp}}

          <input id="search-box-adv-span-display-ul-input" name="search-box-adv-span-display-ul-input"
              type="button" value="Edit" ng-click="search.editSearchCriteria(item);"
              class="btn btn-primary remove-criteria"
              style="vertical-align:super;font-size:65%;"
          />
          <input id="search-box-adv-span-display-ul-input" name="search-box-adv-span-display-ul-input"
              type="button" value="X" ng-click="search.removeSearchCriteria(item);"
              class="btn btn-primary remove-criteria"
              style="vertical-align:super;font-size:65%;"
          />

        </li>
      </ul>

      <!--  advanced search -->

      <li id="search-box-adv-span-li" name="search-box-adv-span-li" >

<!-- select a field to search -->
        <select id="search-box-adv-span-li-select-field" name="search-box-adv-span-li-select-field"
            ng-options="op.name for op in advancedSearchForm.searchingFieldsList track by op.id"
            required ng-model="search.selectedOption">
        </select>


<!-- show corresponding operator -->
        <select id="search-box-adv-span-li-select-op-text" name="search-box-adv-span-li-select-op-text"
            ng-options="op.name for op in advancedSearchForm.comparisonOp.text track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()"
            ng-hide="search.selectedOption.type!='STRING'">
        </select>

        <select id="search-box-adv-span-li-select-op-text-wo-in" name="search-box-adv-span-li-select-op-text-wo-in"
            ng-options="op.name for op in advancedSearchForm.comparisonOp.text_wo_in track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()"
            ng-show="search.selectedOption.type=='STRING_WO_IN'">
        </select>

        <select id="search-box-adv-span-li-select-op-text-wo-ordering" name="search-box-adv-span-li-select-op-text-wo-ordering"
            ng-options="op.name for op in advancedSearchForm.comparisonOp.text_wo_ordering track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()"
            ng-show="search.selectedOption.type=='STRING_WO_ORDERING'">
        </select>

        <select id="search-box-adv-span-li-select-op-text-has-ogc" name="search-box-adv-span-li-select-op-text-has-ogc"
            ng-options="op.name for op in advancedSearchForm.comparisonOp.text_has_ogc track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()"
            ng-show="search.selectedOption.type=='STRING_HAS_OGC'">
        </select>

        <select id="search-box-adv-span-li-select-op-date" name="search-box-adv-span-li-select-op-date"
            ng-options="op.name for op in advancedSearchForm.comparisonOp.date track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()"
            ng-show="search.selectedOption.type=='DATE'"
            style="min-width:60px;max-width:200px;">
        </select>

        <select id="search-box-adv-span-li-select-op-wfstatus" name="search-box-adv-span-li-select-op-wfstatus"
            ng-options="op.name for op in advancedSearchForm.comparisonOp.workflowStatus track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()"
            ng-show="search.selectedOption.type=='WORKFLOW_STATUS'"
            style="min-width:60px;max-width:200px;">
        </select>
        
        

        <select id="search-box-adv-span-li-select-op-nationOp" name="search-box-adv-span-li-select-op-nationOp"
            ng-options="op.name for op in advancedSearchForm.comparisonOp.nationalOp track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()" 
            ng-show="search.selectedOption.type=='DROP_DOWN_LIST' && search.selectedOption.id == 'nationalOp'"
            style="min-width:60px;max-width:200px;">
        </select>

        <select id="search-box-adv-span-li-select-op-ogcStatus" name="search-box-adv-span-li-select-op-ogcStatus"
            ng-options="op.name for op in advancedSearchForm.ogcStatusList track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()"
            ng-show="search.selectedOption.type=='OGC_REF_STATUS'"
            style="min-width:60px;max-width:200px;">
        </select>

        <select id="search-box-adv-span-li-select-op-float" name="search-box-adv-span-li-select-op-float"
            ng-options="op.name for op in advancedSearchForm.comparisonOp.number track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()"
            ng-show="search.selectedOption.type=='FLOAT'"
            style="min-width:60px;max-width:200px;">
        </select>

        <select id="search-box-adv-span-li-select-op-float-ram-score" name="search-box-adv-span-li-select-op-float-ram-score"
            ng-options="op.name for op in advancedSearchForm.comparisonOp.float_ram_score track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()"
            ng-show="search.selectedOption.type=='FLOAT_RAM_SCORE'"
            style="min-width:60px;max-width:200px;">
        </select>

        <select id="search-box-adv-span-li-select-op-boolean" name="search-box-adv-span-li-select-op-boolean"
            ng-options="op.name for op in advancedSearchForm.comparisonOp.boolean track by op.id"
            required ng-model="search.selectedOptionOp" ng-click="search.checkOpChoice()"
            ng-show="search.selectedOption.type=='BOOLEAN'"
            style="min-width:60px;max-width:200px;">
        </select>

<!-- end of op -->

<!--  search value  -->

<!--             ng-hide="search.selectedOption.type!='STRING' && search.selectedOption.type!='FLOAT'" -->
<!--             ng-model="search.searchValue" ng-hide="search.selectedOption.type!='STRING'" -->
        <input id="search-box-adv-span-li-input-text" name="search-box-adv-span-li-input-text" clas="search-box-adv-span-li-input-value"
            type="text" required placeholder="input search value"
            ng-model="search.searchValue" ng-hide="search.selectedOption.type!='STRING'"
            style="min-width:60px;max-width:200px;"
        />
        <input id="search-box-adv-span-li-input-text-wo-in" name="search-box-adv-span-li-input-text-wo-in" clas="search-box-adv-span-li-input-value"
            type="text" required placeholder="input search value"
            ng-model="search.searchValue" ng-show="search.selectedOption.type=='STRING_WO_IN'"
            style="min-width:60px;max-width:200px;"
        />


        <select id="search-box-adv-span-li-select-op-ogcStatus" name="search-box-adv-span-li-select-op-ogcStatus"
            ng-options="op.name for op in advancedSearchForm.workflowStatusList track by op.id"
            required ng-model="search.searchValue" 
            ng-show="search.selectedOption.type=='WORKFLOW_STATUS'"
            style="min-width:60px;max-width:200px;">
        </select>

        <select id="search-box-adv-span-li-select-op-ogcStatus" name="search-box-adv-span-li-select-op-ogcStatus"
            ng-options="op.name for op in advancedSearchForm.nationalOpList track by op.id"
            required ng-model="search.searchValue" 
            ng-show="search.selectedOption.type=='DROP_DOWN_LIST' && search.selectedOption.id == 'nationalOp' && search.selectedOptionOp != null && search.selectedOptionOp.id != 'null' && search.selectedOptionOp.id != 'nnull'"
            style="min-width:60px;max-width:200px;">
        </select>


        <input id="search-box-adv-span-li-input-text-wo-in" name="search-box-adv-span-li-input-text-wo-in" clas="search-box-adv-span-li-input-value"
            type="text" required placeholder="input search value"
            ng-model="search.searchValue" ng-show="search.selectedOption.type=='STRING_WO_ORDERING'"
            style="min-width:60px;max-width:200px;"
        />

<!--             ng-model="search.searchValue" ng-show="search.selectedOption.type=='DATE'" -->
        <input id="search-box-adv-span-li-input-date" name="search-box-adv-span-li-input-date" clas="search-box-adv-span-li-input-value"
            type="text" required placeholder="mm/dd/yyyy"
            ng-model="search.searchValue" ng-show="search.selectedOption.type=='DATE'"
            style="min-width:60px;max-width:200px;"
        />

<!--             ng-model="search.searchValue" ng-show="search.selectedOption.type=='FLOAT'" -->
        <input id="search-box-adv-span-li-input-float" name="search-box-adv-span-li-input-float" clas="search-box-adv-span-li-input-value"
            type="text" required placeholder="input search value" ng-pattern="^/[0-9]+[\.][0-9]*/"
            ng-model="search.searchValue" ng-show="search.selectedOption.type=='FLOAT' || search.selectedOption.type=='FLOAT_RAM_SCORE'"
            style="min-width:60px;max-width:200px;"
        />


        <input id="search-box-adv-span-li-input-button-add" name="search-box-adv-span-li-input-button-add"
            type="button" value="Add" class="btn btn-primary"
            ng-show="search.advSearchDisplayOn" ng-click="search.addSearchCriteria();"
            style="min-width:60px;max-width:200px;"
        />

        <input id="search-box-adv-span-li-input-button-go" name="search-box-adv-span-li-input-button-go"
            type="button" value="Go" class="btn btn-primary"
            ng-show="search.advSearchDisplayOn" ng-click="search.doAdvSearch();"
            style="min-width:60px;max-width:200px;"
        />
      </li>

      <li id="search-box-adv-span-hr-li" name="search-box-adv-span-hr-li"
          style="height:5px; margin-top:-5px;margin-bottom:-5px;">
        <hr id="search-box-adv-span-hr-li-hr" name="search-box-adv-span-hr-li-hr"
            class="col-md-11" align="left" style="height:10px; margin-top:10px;margin-bottom:-5px;"/>
      </li>

      <li id="search-box-adv-span-switch-li" name="search-box-adv-span-switch-li">
        <span style="text-align: left;">
          <input id="search-box-adv-span-switch-li-use-quick" name="search-box-adv-span-switch-li-use-quick"
            type="button" value="Use Quick Search" class="btn btn-primary"
            ng-click="search.displayQuickSearchForm();" />
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<span style="text-align: right;">
          <input id="search-box-close-btn" name="search-box-close-btn"
            type="button" value="Close" class="btn btn-primary"
            ng-click="search.close();" />
<!--         </a> -->
        </span>
      </li>

    </span>
  </ul>
</div>
<!-- <a href="" class="boxclose" ng-click="search.toggle()" style="z-index:1001;"></a> -->
</form>
<script>
  $("#search-box-adv-span-li-input-date").datepicker();
</script>
<script>
  $("#search-box-quick-span-li-input-value-date").datepicker();
</script>
