@CHARSET "UTF-8";
/* 
 * CSS for Examlog
 */

#exam-header {
	padding: 10px 15px 20px 15px;
}



/* #edit_exam_detail div {
	margin-top: 3px;
	margin-bottom:3px;
}
 */

.no-bottom-margin .form-group {
	margin-bottom: 0px;
}


#sample_popup_div,
#contact_popup_div,
#reference_popup_div,
#document_popup_div,
#create_form_popup_div
 {
    margin: 0 auto;
    top: 25%;
    
    background:white;
	position: absolute;
    border: 5px solid #8C98D0;
	box-shadow:	10px 10px rgba(128, 128, 128, 0.16);	
    z-index: 1024;
    display: block;
    overflow: hidden;
}


#create_form_popup_div
{
    min-width: 900px;
    margin-left: -150px;
}

#sample_popup_div
{
    width: 900px;
    margin-left:-450px;
    left:50%;
}

.popup-header {
    background: #8C98D0;
    margin: 0 -15px 15px;
    padding: 5px;
}

/* fix to hide modal border */
.modal-content {
	border: none !important
}
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select
 {
	width: auto;
}

 .css-form input.ng-invalid.ng-touched,
 .css-form select.ng-invalid.ng-touched,
 .css-form textarea.ng-invalid.ng-touched {
 	/*background-color: #FA787E;*/
 	border-color: red;
 }

  .css-form input.ng-valid.ng-touched.ng-dirty,
 .css-form select.ng-valid.ng-touched.ng-dirty,
 .css-form textarea.ng-valid.ng-touched.ng-dirty {
 
	/*background-color: #78FA89;*/
  } 
  
.form-group.required .control-label:before {
  	content:"* ";
  	color:red;
}  
.form-group ul.dropdown-menu {
  height: 124px;
  overflow-y: auto;
}

.exam_save_errors {
    background: whitesmoke;
    padding: 5px;
}
