@CHARSET "UTF-8";

/*
CSS for Inbox
*/

/* Specify styling for tooltip contents */
.tooltip.inbox_tooltip .tooltip-inner {
      color: black;
      background-color: #ffff66;
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
      font-size: large;
     	border-style: solid;
     	border-width: thin;
     	text-align:left;
     	max-width: 500px;
}

.tooltip.inbox_tooltip .tooltip-arrow {
      /* display: none; */
 }