:host {
  margin-right: 10px;
  margin-top: 10px;
}

.dashboard-card {
  padding: 5px;
}
.btn-main-container {
  height: 45px;

  .editBtn {
    justify-content: space-around;
    align-content: center;
    padding-top: 6px;
  }

}
