<div class="panel panel-default user-panel">
    <div class="panel-heading"><h3>System Events</h3></div>
    <div class="panel-body">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-3">
						<h4>Manually Run System Event</h4>
					</div>
					<div class="col-xs-3">
						<select class="form-control" ng-model="selectedEvent">
							<option ng-repeat="x in eventTypes" value = "{{x.const}}">{{x.desc}}</option>
						</select>
					</div>
					<div class="col-xs-1 pull-left">
						<button type="submit" class= "btn btn-default" ng-click="runEvent(selectedEvent)">Run Event</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<table class="table table-hover table-striped">
					<tr>
						<th ng-repeat="column in dashboard.columns">
							<div>{{column.display}}</div>
						</th>
					</tr>
					<tr ng-repeat="event in events.content">
						<td ng-repeat="column in dashboard.columns">{{ column.getValue(event)}}</td>
					</tr>
				</table>
				<div class="pull-right">
					<button type="button" class="btn btn-info" ng-click="previous()" ng-disabled="events.first">Previous</button>
					<button type="button" class="btn btn-info" ng-click="next()" ng-disabled="events.last">Next</button>
				</div>
			</div>
		</div>
    </div>
</div>