<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      <h4 class="currentHtsTitle">
        {{title}}
      </h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="!details">
      <span style="margin-left: 10px">All HTS Code: {{currTotalHTScodeCount}}</span>
      <span>CPSC Jurisdiction: {{currentJurisdiction}}</span>
      <span>Targeted in RAM: {{currentTargeted}}</span>
    </ng-container>
    <ng-container *ngIf="details">
      <span style="margin-left: 10px">
        All HTS Code: {{currTotalHTScodeCount}}(new) - {{currTotalHTScodeCount}}(retired)
      </span>
      <span>
        CPSC Jurisdiction: {{currentJurisdiction}}(new) - {{currentJurisdiction}}(retired)
      </span>
    </ng-container>
  </mat-card-content>
</mat-card>
