<!--<div class="footer">-->
  <!--<div class="uplprogress hide">-->
    <!--<label style="color:black">Upload Progress...</label>-->
    <!--<button-->
    <!-- style="width: 500px;border: none;background-color:#F8F9F9"class="btn prgsbtn" (click)= "getProgress()"-->
    <!--type="button">-->
    <!--<p-progressBar class="progressBarDelay" [value]="progressStatus" [unit]="progressunit"-->
                   <!--[showValue]="true"></p-progressBar>-->
    <!--</button>-->
  <!--</div>-->
  <!--<h5>© 2017 CPSC. All Rights Reserved.</h5>-->
<!--</div>-->
<!--<mat-toolbar fxLayoutAlign="center center">-->
  <!--<span fxFlex="none">© 2017 CPSC. All Rights Reserved.</span>-->
<!--</mat-toolbar>-->
