<h4>Notification Message</h4>

<div class="settings-page">
    <div>

 		<div>
			<div>
				<h4>Create New Notification Message</h4>
				<div ng-show="newNotification.notificationErrors">
					<div class="exam_save_errors">
						<h5  class="error">{{newNotification.notificationErrors.message}}</h5>
						<ol>
							<li ng-repeat="err in newNotification.notificationErrors"><b>{{err.group}} -> <span ng-show="err.index != undefined"> record #{{err.index}} -> </span> {{err.field}}:</b> {{err.message}}
						</ol>
					</div>
				</div>
				
			<div>
				<label class="control-label">Effective Date:</label>
						<input  type="text" size="10" maxlength="10" id="effectiveDate" name="effectiveDate" ng-model="newNotification.effectiveDate" />
						<span ng-show="newNotification.notificationErrors.errorDetail.effectiveDate">{{newNotification.notificationErrors.errorDetail.effectiveDate}}</span>
			</div>
				<textarea ng-model="newNotification.note" rows="5" style="width:100%" maxlength="8192"></textarea>
			</div>
			<div>
				{{charRemaining(newNotification.note, 8192)}} characters remaining.
			</div>


			<div>
				<button type="button" class="btn btn-primary"
					ng-click="saveNotification(newNotification);">Save</button>
				<button type="button" class="btn btn-default" ng-show='false'
					ng-click="cancelNotification();">Cancel</button>
			</div>

		</div>
    	
    </div>
</div>
<script>
$("#effectiveDate").datepicker();
</script>