<!-- Details Tab Start -->
<div  class="row lr15" ng-switch on="exam._editMode_">
	<div class="col-md-12" ng-switch-when="EDIT" >
	  <div ng-include="'./examlog/edit/exam_entrylines_edit.html'"></div>
	</div> 
	<div class="col-md-12" ng-switch-when="CREATE" >
	  <div ng-include="'./examlog/edit/exam_entrylines_edit.html'"></div>
	</div> 
	<div class="col-md-12" ng-switch-when="VIEW">

		<div class="row">
			<div class="col-md-12 panel">
				<div class="panel-body">
				<!--  begin entrylines -->
		
					<table class="table">
						<tr>
							<th ng-click="sort('entryLineNumber');">Line No
								<span class="glyphicon sort-icon" ng-show="sortKey=='entryLineNumber'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
							</th>
							<th ng-click="sort('htsNumber');">HTS
								<span class="glyphicon sort-icon" ng-show="sortKey=='htsNumber'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
							</th>
							<th ng-click="sort('manufacturerName');">Manufacturer
								<span class="glyphicon sort-icon" ng-show="sortKey=='manufactureName'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
							</th>
							<th ng-click="sort('workflowStatus');">Current Status
								<span class="glyphicon sort-icon" ng-show="sortKey=='workflowStatus'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
							</th>
						</tr>
		
						<tr ng-repeat="entryline in exam.examEntryLines | orderBy:sortKey:reverse">
							<td>{{ entryline.entryLineNumber }}</td>
							<td>{{ entryline.htsNumber }}</td>
							<td>{{ entryline.manufacturerName }}</td>
							<td>{{ entryline.workflowStatus }}</td>
						</tr>
		
					</table>
				</div>
				<!--  end entrylines -->
				
				
			</div>
		</div>
	
	</div>

<!-- Entrylines Tab End -->
</div>
