<div ng-controller="examLogController">

	<div class="row">
	
		<div class="col-md-6">
			<h4>
				Exam Log
					<div style="display: inline-block; left: 2px;" class="dropdown">
						<a href=""	class="dropdown-toggle" data-toggle="dropdown" ng-click="examlogAction.setupExamlogActions();"><img src="img/edit.png"
							style="margin-top: 0px; width: 20px;height:20px;vertical-align: baseline; margin-right: 0px"></a>
	
	
						<ul class="dropdown-menu">
							<li ng-repeat="action in examlogAction.examlogActionMenu" 
								ng-class="{'divider': action.divider, 'dropdown-header':action.header}">
							    <span ng-show="action.header">{{action.header}}</span>
								<a href="" ng-hide="action.header || action.divider" ng-click="examlogAction.performExamAction(action)"><span class="itds-toolbox-item">{{action}}</span></a>
							</li>
						</ul>
					</div> 
				
			</h4>
		</div>
		<div class="col-md-6" style="text-align: right" ng-hide="false">
<!-- 			<button type="button" class="btn btn-info" title="Show last 100 uaser actions"   -->
<!--  							ng-click="recentUserAct()">Recent User Actions</button>&nbsp;&nbsp;  -->
				<a href=""><img src="./img/recent_user_actions.png" title="Show last 100 user actions" 
				   style="margin-top: 0px; width: 20px;height:20px;vertical-align: middle;" 
				   ng-click="recentUserAct()"></a>
				<span style="margin-right: 10px"/>
 							
			<span style="font-size: small;" ng-show="exportInProgressIndicator">Export now in progress..</span>
					<a href="" ng-show="page.totalResults>0"><img src="./img/export_csv.png" title="Export results as CSV" 
					   style="margin-top: 0px; width: 20px;height:20px;vertical-align: middle;margin-right: 10px"
					   ng-click="exportCSV()"></a>
<!-- 			<button type="button" class="btn btn-info" title="Export results as CSV"  -->
<!-- 							ng-disabled="!exams || exams.length<=0 || exportInProgressIndicator"  -->
<!-- 							ng-click="exportCSV()">CSV</button>&nbsp;&nbsp; -->
				<span data-toggle="tooltip" title="Search">
					<a href=""><img src="./img/search_menu.png"
					   style="margin-top: 0px; width: 20px;height:20px;vertical-align: middle;margin-right: 10px"
					   ng-click="search.toggle()"></a>
				</span> 
	
				<span ng-show="search.state" class="selected-marker" style="right: 25px;"></span>
		</div>	
	</div>

	<div class="row  panel" ng-show="search.state" style="z-index:1000; position: absolute; right: 30px;" ng-include="'./examlog/examlog_search.html'"></div>


	<div>

<div class="row">
	<div class="col-md-12">
		<div class="pull-left" >
			<span ng-show="page.totalResults>0">Displaying {{page.startIndex}} - {{page.endIndex}} of {{page.totalResults}} results for: </span> 
			<span ng-hide="page.totalResults>0">No results found for:</span> 
			<span  style='display:inline-block; padding: 3px; margin-bottom: 3px;color: #222D63; font-weight:bold'>{{search.name}}</span>
			<span ng-show="search.sdIsEdited"><a href=""><img src="./img/save_search.png"
				   style="margin-top: 0px; width: 24px;height:24px;vertical-align: middle;margin-right: 10px; margin-left:-10px; margin-bottom:5px;"
				   ng-click="search.saveSearch()"/></a></span>
		</div>
		<div class="pull-right paging" ng-show="page.totalPages >1">
	  		<form name="myForm" novalidate >
				<ul>
					<li data-toggle="tooltip" title="First" ng-click="page.gotoFirst();"><a href="" style="text-decoration: none;"><span>&lt;&lt;</span></a></li>
					<li data-toggle="tooltip" title="Previous" ng-click="page.gotoPrev();"><a href="" style="text-decoration: none;"><span>&lt;</span></a></li>
					<li>
						<div class="error"  ng-show="!myForm.currentPage.$valid">valid page number: 1 - {{page.totalPages}}</div>
						<span class="paging-input" ng-mouseenter="page.mouseEnter();" ng-mouseleave="page.mouseLeave();">
							Page 
							<input ng-show = "isChrome && page.showInput" id="currentPage" name="currentPage" 
								type="number" min="1" max="{{page.totalPages}}"
								ng-class="{'error': !myForm.currentPage.$valid, '':myForm.currentPage.$valid}" 
								ng-model="page.currentPage" 
								ng-change="page.gotoPage();"
								ng-model-options="{ debounce: 500 }">
							<input ng-show = "!isChrome && page.showInput" id="currentPage" name="currentPage" 
								type="text" 
								ng-model="page.currentPage" 
								ng-change="page.gotoPage();"
								>
							<strong ng-hide = "page.showInput">{{page.currentPage}}</strong>
							of {{page.totalPages}}</span></li>
					<li data-toggle="tooltip" title="Next" ng-click="page.gotoNext();"><a href="" style="text-decoration: none;"><span>&gt;</span></a></li>
					<li data-toggle="tooltip" title="Last" ng-click="page.gotoLast();"><a href="" style="text-decoration: none;"><span>&gt;&gt;</span></a></li>
				</ul>
			</form>
		</div>
	</div>
</div>
	
		<table id="summaryTable"
			class="itds-table-4 table table-bordered table-hover table-responsive"
			style="width: 100%;">
			<tr>
				<th ng-click="sort('entryNumber');">Entry<sort-icons key="sortKey" value="entryNumber" reverse="reverse"/></th>
				<th ng-click="sort('importerNumber');">Importer #<sort-icons key="sortKey" value="importerNumber" reverse="reverse"/></th>
				<th ng-click="sort('importerName');">Importer Name<sort-icons key="sortKey" value="importerName" reverse="reverse"/></th>
				<th ng-click="sort('portName');">Port Name<sort-icons key="sortKey" value="portName" reverse="reverse"/></th>
				<th ng-click="sort('examDate');">Exam Date<sort-icons key="sortKey" value="examDate" reverse="reverse"/></th>
				<th ng-click="sort('investigatorFormatted');">Investigator<sort-icons key="sortKey" value="investigatorFormatted" reverse="reverse"/></th>
				<th ng-click="sort('_samples_Checkbox');">Samples<sort-icons key="sortKey" value="_samples_Checkbox" reverse="reverse"/></th>
			</tr>

			<tr ng-if="((exam && detail.selectedExam)  && detail.selectedIndex>0)">
				<td colspan="7" >
					<a href="" ng-show="detail.isHideAboveRows" ng-click="detail.hideAboveRows(false)">Click here to show {{detail.selectedIndex}} hidden record(s) </a>
					<a href="" ng-show="!detail.isHideAboveRows" ng-click="detail.hideAboveRows(true)">Click here to hide {{detail.selectedIndex}} record(s) below</a>
				</td>
			</tr>
			<tr ng-repeat-start="exam_i in exams.slice(page.startIndex-1-page.bufferStartIndex, page.endIndex-page.bufferStartIndex)" ng-hide="detail.isRowHidden(exam_i, $index)">
				<td><a href="" ng-click="detail.selectExam(exam_i,$index);">{{exam_i.entryNumber }}</a></td>
				<td>{{ exam_i.importerNumber }}</td>
				<td>{{ exam_i.importerName }}</td>
				<td>{{ exam_i.portName }}</td>
				<td>{{ exam_i.examDate }}</td>
				<td>{{ exam_i.investigatorFormatted }}</td>
				<td style="text-align: center" uib-tooltip-html="currentHtmlTooltip" tooltip-class="inbox_tooltip" tooltip-trigger="outsideClick">
					<a  ng-if="hasSample(exam_i)" href="" ng-click="displayExamSampleTooltip(exam_i.entryNumber);" >YES</a>
				</td>
				
			</tr>
			<tr ng-repeat-end ng-if="detail.isDetailRow(exam_i, $index)">
				<td colspan="7">
				    <div ng-if="detail.expandColumn === 'EXAM'" ng-include="'./examlog/exam.html'" ></div>
				</td>
			</tr>
		</table>
	</div>
</div>

