<ng-container *ngIf="!isReady2Upload()">
  <div fxFlex="none" fxLayout="row"
       fxLayoutGap="10px" fxLayoutAlign="space-between">
    <app-statistics fxFlex="1 1 53%" header="CPSC Current HTS"></app-statistics>
    <app-statistics fxFlex="1 1 43%" header="CPSC Work in Progress"
                    [details]="true"></app-statistics>
  </div>
  <div fxFlex="none" fxLayout="row"
       fxLayoutGap="10px" fxLayoutAlign="space-between">
    <app-filter fxFlex="1 1 53%"
                [current]="false"
                (onFilterChange)="onFilterChange($event)"
                (onSourceChange)="onSourceChange($event)"
                (onViewChange)="isFlatView($event)"
                [source]="dataService.defaultUpdateSource"
                [filter]="dataService.defaultFilter"></app-filter>
    <app-actions fxFlex="1 1 43%" [current]="false" [link]="getReportLink()"></app-actions>
  </div>
  <app-hts-tree [current]="false" [flatView]="flatView"></app-hts-tree>
</ng-container>
<app-upload *ngIf="isReady2Upload()"
            fxFlex="1 1 100%"
            fxLayout="column">
</app-upload>
<div *ngIf="isInIncorrectState()">Not allowed while editing</div>
