<h4>User Administration</h4>
<div class="panel panel-default user-form-panel">
    <div class="panel-heading">{{pageTitle}}</div>
    <div class="panel-body">
        <form ng-submit="save()" name="userForm">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{'has-error': user.usernameError}">
                        <label>User ID</label>
                        <input type="text" ng-disabled="isEdit" class="form-control" ng-model="user.username" ng-change="submitted && user.isUsernameValid() && (isEdit || checkUsernameUniqueness())" ng-trim="false"/>
                        <span class="text-danger">{{user.usernameError || uniqueUsernameError}}</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': user.passwordError}">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="user.password" ng-change="submitted && (isEdit ? user.isPasswordValidForEdit() : user.isPasswordValidForAdd())" ng-trim="false"/>
                        <span class="text-danger">{{user.passwordError}}</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': user.confirmationPasswordError}">
                        <label>Confirmation Password</label>
                        <input type="password" class="form-control" ng-model="user.confirmation" ng-change="submitted && (isEdit ? user.isPasswordValidForEdit() : user.isPasswordValidForAdd())" ng-trim="false"/>
                        <span class="text-danger">{{user.confirmationPasswordError}}</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': user.firstnameError}">
                        <label>First Name</label>
                        <input type="text" class="form-control" ng-model="user.firstname" ng-change="submitted && user.isFirstnameValid()" ng-trim="false"/>
                        <span class="text-danger">{{user.firstnameError}}</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': user.lastnameError}">
                        <label>Last Name</label>
                        <input type="text" class="form-control" ng-model="user.lastname" ng-change="submitted && user.isLastnameValid()" ng-trim="false"/>
                        <span class="text-danger">{{user.lastnameError}}</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': user.emailError}">
                        <label>Email</label>
                        <input type="text" name="userEmail" class="form-control" ng-model="user.email" ng-change="submitted && user.isEmailValid()" ng-trim="false"/>
                        <span class="text-danger">{{user.emailError}}</span>
                    </div>
                    
					<div class="form-group">
				        <label>Ports</label>
						<div class="row">
							<div class="col-lg-4" >
								<span style=""><b>Available Ports ({{ports.length}})</span></b><br/>
					            <select class="form-control" id="portsLeft" multiple ng-multiple="true" 
					            	size="11" ng-model="portAvailableSelectedOptions">
					            	<option ng-repeat="port in ports" id={{port.portCode}} value="{{port.portCode}}" title="{{port.portCode}} ({{port.portName}})">{{port.portCode}} ({{port.portName}})</option>
					            </select> 
							</div>
							<div class="col-lg-2"  style="padding-top: 80px; padding-right:20px">
								    <input type="button" id="right" class="form-control" value=">" 
								    		ng-click="utilService.moveSelectedOptions(portAvailableSelectedOptions, ports, user.refPorts,'portCode');" 
								    		style="text-align: center"/><br/>
								    <input type="button" id="left" class="form-control" value="<" 
								    		ng-click="utilService.moveSelectedOptions(portPickedSelectedOptions,user.refPorts,ports,'portCode');"
								    		style="text-align: center"/><br/>
							</div>
							<div class="col-lg-4">
								<span ><b>Current Ports ({{user.refPorts.length}})</span></b><br/>
					            <select class="form-control" id="portsRight" multiple ng-multiple="true"  size="11" ng-model="portPickedSelectedOptions">
					            	<option ng-repeat="portR in user.refPorts"  value="{{portR.portCode}}" title="{{portR.portCode}} ({{portR.portName}})">{{portR.portCode}} ({{portR.portName}})</option>
					            </select> 
							</div>
						</div>
					</div>
                </div>
                
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{'has-error': user.inboxrowsshownError}">
                        <label>Inbox Rows Per Page</label>
                        <input type="text" class="form-control" ng-model="user.inboxrowsshown"  ng-change="submitted && user.isInboxrowsshownValid()"/>
                        <span class="text-danger">{{user.inboxrowsshownError}}</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': user.orgcodeError}">
                        <label>Organization Code</label>
                        <select class="form-control" ng-options="org for org in organizations" ng-model="user.orgcode"  ng-change="submitted && user.isOrgcodeValid()" ng-disabled="isSelf"></select>
                        <span class="text-danger">{{user.orgcodeError}}</span>
                    </div>
                    <div class="form-group">
                        <label>Supervisor</label>
                        <select class="form-control"  ng-disabled="isSelf" ng-options="supervisor as supervisor.username for supervisor in users track by supervisor.username" ng-model="user.supervisors[0]"></select>
                    </div>
                    <div class="form-group" ng-class="{'has-error': user.exisLocationError}">
                        <label>EXIS Location</label>
                        <select class="form-control" ng-options="location for location in exisLocations" ng-model="user.exisLocation"  ng-change="submitted && user.isExisLocationValid()" ng-disabled="isSelf"></select>
                        <span class="text-danger">{{user.exisLocationError}}</span>
                    </div>
                    <div class="form-group">
                        <label>Roles</label>
                        <span ng-repeat="role in roles">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="role.selected" ng-disabled="isSelf"/>
                                {{role.roleDescription}}
                            </label>
                        </span>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" ng-class="user.active ? 'btn-success' : 'btn-danger'" ng-click="user.active=!user.active" ng-disabled="isSelf">{{user.active ? "Active" : "Inactive"}}</button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-danger pull-left" ng-click="delete()" ng-show="isEdit && !isSelf && isAuthorized(['ROLE_USER_DEL'])">Delete</button>
            <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
