<!-- Documents Tab Start -->
<div class="row" id="exam_product_samples_edit_div">
	<div class="col-md-12 panel">
		<div class="panel-body">
		<!--  begin products/samples -->
			<header>
				<h4 ng-show="false">Products/Samples</h4>
			</header>

			<table class="table" >
				<tr>
					<th>Product Description</th>
					<th>Model #</th>
					<th># Products Screened</th>
					<th>Disposition</th>
					<th>Sample Number</th>
				</tr>

<!-- 				<tr ng-repeat="sample_i in examCopy.examSamples track by $index" ng-hide="sampleDetail.isRowHidden(sample_i, $index)"> -->
				<tr ng-repeat="sample_i in examCopy.examSamples" ng-hide="sampleDetail.isRowHidden(sample_i, $index)">

					<td>{{ sample_i.productDescription }}
  						<div style="display: inline-block; float:right; right: 2px;">
							<a href="" ><img src="./img/edit.png" style="width: 20px; vertical-align: middle" data-toggle="tooltip" title="Edit"
								ng-click="productSampleAction.performProductSampleAction('Edit', sample_i, $index);"></a>
							<a href="" ><img src="./img/new.png" style="width: 18px; vertical-align: middle" data-toggle="tooltip" title="Copy"
								ng-click="productSampleAction.performProductSampleAction('Copy', sample_i, $index);"></a>
							<a href="" ng-show="sample_i.productSampleId"><img src="./img/add_ifs.png" style="width: 18px; vertical-align: middle" data-toggle="tooltip" title="Create in IFS"
								ng-click="productSampleAction.performProductSampleAction('AddIFS', sample_i, $index);"></a>
							<a href="" ><img src="./img/delete.png" style="width: 16px; vertical-align: middle" data-toggle="tooltip" title="Delete"
								ng-click="productSampleAction.performProductSampleAction('Delete', sample_i, $index);"></a>
 						</div>
					</td>
					<td>{{ sample_i.itemModel }}</td>
					<td>{{ sample_i.numberProductsScreened }}</td>
					<td>{{ sample_i.dispositionDescription }}</td>
					<td nowrap><span ng-show= "!sample_i.sampleNumber" style="color: lightgray;">&lt;No Sample Number&gt;</span>{{ sample_i.sampleNumber }}</td>
				</tr>
				<tr>
					<td colspan="5">
						<a href="" 
							ng-click="productSampleAction.performProductSampleAction('Add');">Add New Record <img src="./img/new.png" data-toggle="tooltip" title="Add New Record" style="width: 20px; vertical-align: middle"></a>
					</td>
				</tr>

			</table>
		</div>
		<!--  end products/samples -->
		
		
	</div>
</div>

<!-- Documents Tab End -->
