<!-- Add/edit new reference -->

<div class="popup-header">
		<button type="button" class="close" data-dismiss="myModal" aria-hidden="true" ng-click="cancel();">&times;</button>
		<h4 class="modal-title">Edit Reference Details</h4>
		
</div>

<ng-form name="reference_edit_form" class="form-horizontal" role="form">
	<div class="form-group" >
		<div class="col-sm-12" style="text-align: right;">
			<span ng-show="exam_form.$dirty" class="bg-warning">Unsaved data </span>
		</div>
	</div>

	<div class="form-group required">
		<label class="control-label col-sm-4" for="referenceTypeSelect">Reference Type:</label>
		<div class="col-sm-8">
			<select class="form-control" name="referenceTypeSelect"
				id="referenceTypeSelect" ng-model="reference.referenceType"
				ng-change="referenceAction.updateReferenceName(reference, referenceTypes)">
				<option ng-repeat="option in referenceTypes"
					value="{{option.referenceType}}">{{option.referenceTypeName}}</option>
			</select>
		</div>
	</div>

	<div class="form-group required">
		<label class="control-label col-sm-4" for="name">Reference Value:</label>
		<div class="col-sm-8">
			<input class="form-control" type="text"
				ng-model="reference.referenceValue" />
		</div>
	</div>


<!-- 	<div class="form-group"> -->
<!-- 		<label class="control-label col-sm-4" for="phoneNumber">Created by:</label> -->
<!-- 		<div class="col-sm-8"> -->
<!-- 			<input class="form-control" type="text" -->
<!-- 				ng-model="reference.createUserId" /> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	<div class="form-group"> -->
<!-- 		<label class="control-label col-sm-4" for="fax">Create Date/Time:</label> -->
<!-- 		<div class="col-sm-8"> -->
<!-- 			<input class="form-control" type="text" -->
<!-- 				ng-model="reference.rcreateTimestamp" /> -->
<!-- 		</div> -->
<!-- 	</div> -->

</ng-form>

<!--  end Reference details -->


<div class="modal-footer" style="text-align: left">
	<div class="row">
		<div class="col-sm-4""></div>
		<div class="col-sm-8">
			<button type="button" class="btn btn-primary"  ng-click="examAction.performExamAction('saveEdit'); ok();">Save & Close</button>
			<button ng-show="reference._flag == 'c'" type="button" class="btn btn-primary" ng-click="referenceAction.performReferenceAction('CancelAdd', reference); ok();">Cancel</button>
			<button ng-hide="reference._flag == 'c'" type="button" class="btn btn-primary" ng-click="ok();">Close</button>
		</div>
	</div>
</div>
