<!-- Documents Tab Start -->
<div class="row" id="exam_documents_edit_div">
	<div class="col-md-12 panel">
		<div class="panel-body">
		<!--  begin documents -->
			<header>
				<h4 ng-show="false">Documents</h4>
			</header>

			<table class="table" >
				<tr>
					<th>File Name</th>
					<th>Type</th>
					<th>Created by</th>
					<th>Create Date/Time</th>
				</tr>

				<tr ng-repeat="document_i in examCopy.examDocuments track by $index" ng-hide="documentDetail.isRowHidden(document_i, $index)">
					<td nowrap>{{ document_i.documentName }}
  						<div style="display: inline-block; float:right; right: 2px;">
							<a href="" ><img src="./img/edit.png" style="width: 20px; vertical-align: middle" data-toggle="tooltip" title="Edit"
								ng-click="documentAction.performDocumentAction('Edit', document_i,$index);"></a>
							<a href="" ><img src="./img/new.png" style="width: 18px; vertical-align: middle" data-toggle="tooltip" title="Copy"
								ng-click="documentAction.performDocumentAction('Copy', document_i,$index);"></a>
							<a href="" ><img src="./img/delete.png" style="width: 16px; vertical-align: middle" data-toggle="tooltip" title="Delete"
								ng-click="documentAction.performDocumentAction('Delete', document_i,$index);"></a>
 						</div>
 					
					</td>
					<td>{{ document_i.documentTypeName }}</td>
					<td>{{ document_i.createUserId}}</td>
					<td>{{ document_i.documentDate }}</td>
				</tr>
				<tr>
					<td colspan="4">
						<a href="" 
							ng-click="documentAction.performDocumentAction('Add');">Add New Record <img src="./img/new.png" data-toggle="tooltip" title="Add New Record" style="width: 20px; vertical-align: middle"></a>
					</td>
				</tr>

			</table>
		</div>
		<!--  end documents -->
		
		
		</div>

</div>

<!-- Documents Tab End -->
