<!-- Add/edit new document -->

<div class="popup-header">
		<button type="button" class="close" data-dismiss="myModal" aria-hidden="true" ng-click="cancel();">&times;</button>
		<h4 class="modal-title">Edit Document Details</h4>
		
</div>

<form action="exams/uploadExamDocument" enctype="multipart/form-data" method="post"></form>

<form name="fileUploadForm" id="data" ng-submit="uploadFile();">

	<div class="form-group">
		<label class="control-label col-sm-4" for="name"></label>
		<div class="col-sm-8">
			<input class="form-control" type="file" name="file"/>
			<input type="submit" name="upload" value="upload">
		</div>
	</div>
</form>

<ng-form name="document_edit_form" class="form-horizontal" role="form">
	<div class="form-group" >
		<div class="col-sm-12" style="text-align: right;">
			<span ng-show="exam_form.$dirty" class="bg-warning">Unsaved data </span>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-4" for="name">File Name:</label>
		<div class="col-sm-8">
			<span class="form-control">{{document.documentName}}</span>
				
		</div>
	</div>


	<div class="form-group required">
		<label class="control-label col-sm-4" for="documentTypeSelect">Type:</label>
		<div class="col-sm-8">
			<select class="form-control" name="documentTypeSelect"
				id="documentTypeSelect" ng-model="document.documentType"
				ng-change="documentAction.updateDocumentName(document, documentTypes)">
				<option ng-repeat="option in documentTypes"
					value="{{option.documentType}}">{{option.documentTypeName}}</option>
			</select>
		</div>
	</div>


</ng-form>

<!--  end Document details -->

<div class="modal-footer" style="text-align: left">
	<div class="row">
		<div class="col-sm-4""></div>
		<div class="col-sm-8">
			<button type="button" class="btn btn-primary"  ng-click="examAction.performExamAction('saveEdit'); ok();">Save & Close</button>
			<button ng-show="document._flag == 'c'" type="button" class="btn btn-primary" ng-click="documentAction.performDocumentAction('CancelAdd', document); ok();">Cancel</button>
			<button ng-hide="document._flag == 'c'" type="button" class="btn btn-primary" ng-click="ok();">Close</button>
		</div>
	</div>
</div>

