<!-- Add/edit new sample -->

<div class="popup-header">
		<button type="button" class="close" data-dismiss="myModal" aria-hidden="true" ng-click="cancel();">&times;</button>
		<h4 class="modal-title">Edit Product/Sample Details</h4>
		
</div>

<div ng-form="sample_edit_form" class="form-horizontal" role="form">
	<div class="form-group" >
		<div class="col-sm-12" style="text-align: right;">
			<span ng-show="exam_form.$dirty" class="bg-warning">Unsaved data </span>
		</div>
	</div>

	<div class="form-group required">
		<label class="control-label col-sm-4" for="dispositionDescription">Disposition:</label>
		<div class="col-sm-8">
			<select class="form-control" name="dispositionTypeSelect"
				id="dispositionTypeSelect" ng-model="sampleCopy.dispositionCode">
				<option ng-repeat="option in dispositionTypes"
					value="{{option.dispositionCode}}">{{option.dispositionDescription}}</option>
			</select>
		</div>
	</div>

	<div class="form-group"  ng-class="{'required': sampleCopy.dispositionCode != null && sampleCopy.dispositionCode != 'RELEASE' && sampleCopy.dispositionCode != 'OTHER'}">
		<label class="control-label col-sm-4" for="email">Statute:</label>
		<div class="col-sm-8">
			<select class="form-control" name="statuteSelect" id="statuteSelect"
				ng-model="sampleCopy.statuteCode">
				<option ng-repeat="option in statutes"
					value="{{option.statuteCode}}">{{option.statuteDescription}}</option>
			</select>
		</div>
	</div>

	<div class="form-group"  ng-class="{'required': sampleCopy.dispositionCode != null && sampleCopy.dispositionCode != 'RELEASE' && sampleCopy.dispositionCode != 'OTHER'}">
		<label class="control-label col-sm-4" for="email">Sample Number:</label>
		<div class="col-sm-8">
			<input class="form-control" type="text" name=examDate maxlength="11"
				ng-model="sampleCopy.sampleNumber" ng-focus="productSampleAction.prepopulateSampleNumber(sampleCopy)" />
		</div>
	</div>

	<div class="form-group required">
		<label class="control-label col-sm-4" for="email">Product Description:</label>
		<div class="col-sm-8">
			<textarea class="form-control" rows="4" style="width: 100%" maxlength="255"
				ng-model="sampleCopy.productDescription"></textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-4" for="email">Model/Item #:</label>
		<div class="col-sm-8">
			<input class="form-control" type="text" maxlength="255"
				ng-model="sampleCopy.itemModel" />
		</div>
	</div>

	<div class="form-group required">
		<label class="control-label col-sm-4" for="numberProductsScreened"># Products Screened:</label>
		<div class="col-sm-8">
			<input class="form-control" type="text" class="form-control" maxlength="7"
				name="numberProductsScreened" style="width: initial"
				ng-model="sampleCopy.numberProductsScreened" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-4" for="email">Storage Location:</label>
		<div class="col-sm-8">
			<input class="form-control" type="text" class="form-control"
				name="storageLocation" style="width: initial" maxlength="150"
				ng-model="sampleCopy.storageLocation" />
		</div>
	</div>
<!-- use this to control reason for sampling block
ng-if="sampleCopy.sampleNumber && sampleCopy.reasonTypesAvailableSelectedOptions"
 -->

	<div class="form-group required">
		<label class="control-label col-sm-2" for="reasonsForScreening">Reason for Screening/Sampling:</label>
		<div class="col-sm-2" >
			<span style=""><b>Available</span></b><br/>
	            	  <select class="form-control" id="screenReasonsLeft" multiple ng-multiple="true" style="width: 200px;" size="11" 	
	            		ng-model="sampleCopy.reasonTypesAvailableSelectedOptions">
	            	<option ng-repeat="reason in sampleCopy.reasonTypesAvailable" id={{reason.reasonCode}} value="{{reason.reasonCode}}">{{reason.reasonName}}</option>
	            </select> 
		</div>
			<div class="col-sm-1" style="margin-left: 50px; margin-top: 20px;">
			    <input type="button" id="right" class="form-control" value=">" 
			    		ng-click="moveRightScreening(sampleCopy.reasonTypesAvailableSelectedOptions,
			    					sampleCopy.reasonTypesAvailable,
			    					sampleCopy.reasons);" 
			    		style="text-align: center"/><br/>
			    <input type="button" id="left" class="form-control" value="<" 
			    		ng-click="moveLeftScreening(sampleCopy.reasonTypesPickedSelectedOptions,
			    					sampleCopy.reasonsForSampling,
			    					sampleCopy.reasons,
			    					sampleCopy.reasonTypesAvailable);"
			    		style="text-align: center"/><br/>
			    <input type="button" id="rightall" class="form-control" value=">>" 
			    		ng-click="moveRightScreeningAll(sampleCopy.reasonTypesAvailable,
			    					sampleCopy.reasons);" 
			    		style="text-align: center"/><br/>
			    <input type="button" id="leftall" class="form-control" value="<<" 
			    		ng-click="moveLeftScreeningAll(
			    					sampleCopy.reasonsForSampling,
			    					sampleCopy.reasons,
			    					sampleCopy.reasonTypesAvailable);" 
			    		style="text-align: center"/><br/>
		</div>

		<div class="col-sm-2">
		        <span style="margin-left: -40px;"><b>Selected for Screening</span></b><br/>
		            	<select class="form-control" id="screenReasonsRight" multiple ng-multiple="true" style="width: 200px; margin-left: -40px;" size="11"
		            	ng-model="sampleCopy.reasonTypesPickedSelectedOptions">
	           	<option ng-repeat="reason in sampleCopy.reasons" id={{reason.reasonCode}} value="{{reason.reasonCode}}">{{reason.reasonName}}</option> 
	            </select> 
		</div>

		<div class="col-sm-1" style="margin-left: 10px; margin-top: 20px;">
			    <input type="button" id="right" class="form-control" value=">" 
			    		ng-click="moveRightSample(sampleCopy.reasonTypesPickedSelectedOptions,
			    					sampleCopy.reasons,
			    					sampleCopy.reasonsForSampling);" 
			    		style="text-align: center"/><br/>
			    <input type="button" id="left" class="form-control" value="<" 
			    		ng-click="moveLeftSample(sampleCopy.sampleReasonTypesPickedSelectedOptions,
			    					sampleCopy.reasonsForSampling,
			    					sampleCopy.reasons);" 
			    		style="text-align: center"/><br/>
			    <input type="button" id="rightall" class="form-control" value=">>" 
			    		ng-click="moveRightSampleAll(sampleCopy.reasons,
			    					sampleCopy.reasons,
			    					sampleCopy.reasonsForSampling);" 
			    		style="text-align: center"/><br/>
			    <input type="button" id="leftall" class="form-control" value="<<" 
			    		ng-click="moveLeftSampleAll(sampleCopy.reasonsForSampling,
			    					sampleCopy.reasonsForSampling,
			    					sampleCopy.reasons);" 
			    		style="text-align: center"/><br/>
		</div>
		
		<div class="col-sm-2">
		        <span style="margin-left: -36px;"><b>Selected for Sampling</span></b><br/>
		            	<select class="form-control" id="screenReasonsRight" multiple ng-multiple="true" style="width: 200px; margin-left: -40px;" size="11"
		            	ng-model="sampleCopy.sampleReasonTypesPickedSelectedOptions">
	            	<option ng-repeat="reason in sampleCopy.reasonsForSampling" id={{reason.reasonCode}} value="{{reason.reasonCode}}">{{reason.reasonName}}</option>
	            </select> 
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-4" for="remarks">Remarks:</label>
		<div class="col-sm-8">
			<textarea class="form-control" rows="4" style="width: 100%" maxlength="500"
				ng-model="sampleCopy.remarks"></textarea>
			<div>{{charRemaining(sampleCopy.remarks, 500)}} characters remaining.</div>
			
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-sm-4" for="readings">Readings:</label>
		<div class="col-sm-8" ng-hide="examlogService.noReadingItem=='true'">
			<button type="button" class="btn btn-default" ng-click="showReadings(true);">Edit Readings</button>
		</div>
		<div class="col-sm-8" ng-show="examlogService.noReadingItem=='true'">
			<button type="button" class="btn btn-default" ng-click="showReadings(true);">Add Readings</button>
		</div>
	</div>

</div>

<!--  end product/sample details -->


<div class="modal-footer" style="text-align: left">
	<div class="row">
		<div class="col-sm-4""></div>
		<div class="col-sm-8">
			<button type="button" class="btn btn-primary" ng-show="!showContents || showContents!='READING'"
				ng-click="productSampleAction.performProductSampleAction('SaveEdit'); ok();">Save & Close</button>
<!-- 			<button type="button" class="btn btn-primary" ng-show="sampleCopy._flag == 'c' || !showContents || showContents!='READING'"  -->
<!-- 				ng-click="productSampleAction.performProductSampleAction('CancelAdd', sampleCopy); ok();">Cancel</button> -->
			<button type="button" class="btn btn-primary" ng-show="sampleCopy._flag == 'c' || !showContents && showContents!='READING'"
				ng-click="productSampleAction.performProductSampleAction('CancelAdd', sampleCopy); ok();">Cancel</button>
			<button type="button" class="btn btn-primary" ng-hide="sampleCopy._flag == 'c'|| !showContents || showContents=='READING'"
				ng-click="ok();">Close</button>
		</div>
	</div>
</div>
