
<!-- Entryline Tab Start -->
<div class="row">
	<div class="col-md-12 panel">
		<div class="panel-body">
			<div>
				Set workflow status: {{exam_workflowStatus}}
				<div style="display: inline-block;" class="dropdown">
					<a href=""	class="dropdown-toggle" data-toggle="dropdown" ng-click="setupBatchWorkflowStatus(examCopy.examEntryLines);"><img src="./img/status_menu.png"
						style="margin-top: 0px; width: 20px;height:20px;vertical-align: middle;margin-right: 0px"></a>
					<ul class="dropdown-menu">
						<li ng-repeat="action in workflowActions" ng-class="{'divider': action.divider, 'dropdown-header':action.header}">
						    <span ng-show="action.header">{{action.header}}</span>
							<a href="" ng-hide="action.header || action.divider || action.message" ng-click="setWorkflowStatus(action);"><span class="itds-toolbox-item">{{action}}</span></a>
						</li>
					</ul>
				</div> 
				
			</div>
			

			<table class="table">
				<tr>
					<th style="text-align: center;" 
						ng-click="toggleCheckedAll(examCopy.examEntryLines)">
						<label for="entryLine_select_all">All</label>
						<input id="entryLine_select_all" type="checkbox" ng-model="examCopy.examEntryLines.isChecked"/><span class="custom_toggle_button"></span>
					</th>
					<th ng-click="sort('entryLineNumber');">Line No
						<span class="glyphicon sort-icon" ng-show="sortKey=='entryLineNumber'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
					</th>
					<th ng-click="sort('htsNumber');">HTS
						<span class="glyphicon sort-icon" ng-show="sortKey=='htsNumber'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
					</th>
					<th ng-click="sort('manufacturerName');">Manufacturer
						<span class="glyphicon sort-icon" ng-show="sortKey=='manufactureName'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
					</th>
					<th ng-click="sort('workflowStatus');">Current Status
						<span class="glyphicon sort-icon" ng-show="sortKey=='workflowStatus'" ng-class="{'glyphicon-chevron-up':!reverse,'glyphicon-chevron-down':reverse}"></span>
					</th>
				</tr>

				<tr ng-repeat-start="entryline in examCopy.examEntryLines | orderBy:sortKey:reverse">
					<td style="text-align: center" ng-click="toggleChecked(examCopy.examEntryLines, entryline)">				
							<input id="entryLine_{{$id}}" type="checkbox" ng-model="entryline.isChecked"/><span class="custom_toggle_button"></span>
					</td>
					<td>{{ entryline.entryLineNumber }}</td>
					<td>{{ entryline.htsNumber }}</td>
					<td>{{ entryline.manufacturerName }}</td>
					<td>{{ entryline.workflowStatus }}</td>
				</tr>

				<tr ng-repeat-end ng-hide="true">
					<td colspan="5"></td>
				</tr>
			</table>
		</div>
	</div>

</div>

<!-- Details Tab End -->
