<!-- Contacts Tab Start -->
<div class="row" id="exam_contacts_edit_div">
	<div class="col-md-12 panel">
		<div class="panel-body">
		<!--  begin contacts -->
			<header>
				<h4 ng-show="false">Contacts</h4>
			</header>

			<table class="table" >
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Phone</th>
					<th>Fax</th>
					<th>E-mail</th>
				</tr>

				<tr ng-repeat="contact_i in examCopy.examContacts track by $index" ng-hide="contactDetail.isRowHidden(contact_i, $index)">
					<td nowrap>{{ contact_i.name }}
  						<div style="display: inline-block; float:right; right: 2px;">
							<a href="" ><img src="./img/edit.png" style="width: 20px; vertical-align: middle" data-toggle="tooltip" title="Edit"
								ng-click="contactAction.performContactAction('Edit', contact_i,$index);"></a>
							<a href="" ><img src="./img/new.png" style="width: 18px; vertical-align: middle" data-toggle="tooltip" title="Copy"
								ng-click="contactAction.performContactAction('Copy', contact_i,$index);"></a>
							<a href="" ><img src="./img/delete.png" style="width: 16px; vertical-align: middle" data-toggle="tooltip" title="Delete"
								ng-click="contactAction.performContactAction('Delete', contact_i,$index);"></a>
 						</div>
 					
					</td>
					<td>{{ contact_i.contactTypeName }}</td>
					<td>{{ contact_i.phoneNumber }}</td>
					<td>{{ contact_i.fax }}</td>
					<td>{{ contact_i.email }}</td>
				</tr>
				<tr>
					<td colspan="5">
						<a href="" 
							ng-click="contactAction.performContactAction('Add');">Add New Record <img src="./img/new.png" data-toggle="tooltip" title="Add New Record" style="width: 20px; vertical-align: middle"></a>
					</td>
				</tr>

			</table>
		</div>
		<!--  end contacts -->
		
		
		</div>
	</div>

</div>

<!-- Contacts Tab End -->
